{% extends "admin/base_site.html" %} 

{% load extrafilters %}



{% block title %}List of Charters that use 'before', 'after' or 'circa'{% endblock %} 

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/db/admin/pomsapp/">Back to the admin</a></div>{% endblock %}

{# I disabled this block cause it was giving bad paths for the login/out URLs #}
{% block userlinks %}From here you can see all Charters that use 'before', 'after' or 'circa's{% endblock %}


{% block content %} 
<div id="content-main"> 
	<h1>List of Charters that use 'before', 'after' or 'circa' ({{list|length}})</h1> 
	
	<div class="module">

	{% if list %}
	
	{# {% regroup list by user as user_list %} #}
		
	
	<ul>
		
		<table id="change-history">
	        <thead>
		        <tr>
		            <th scope="col">Doc id</th>
		            <th scope="col">Trad ID</th>
		            <th scope="col">H number</th>
		        </tr>
	        </thead>
	        
			<tbody>
				
				
				{% for d in list %}
	
	    {# <br /><p><h2>{{ usr.grouper }}</h2></p><br /> #}
	    
		        <tr class="{% cycle 'row1' 'row2' %}">
		            <td>{{ d.id }}</td>
		            <td><a href="{{d.get_admin_url}}" target="_blank" title="edit">{{ d.source_tradid }}</a></td>
		            <td>{{ d.helper_hammond }}</td>
		        </tr>
		
	        	{% endfor %}
	
	        </tbody>
	
	    </table>

	</ul>
	
	
	
	{% else %}
	    <p>There is no Charter record to display</p>
	{% endif %}
	</div>	
	
</div> 
{% endblock %}