{% extends "admin/base_site.html" %} 

{% load extrafilters %}



{% block title %}List of 'orphan' people{% endblock %} 

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/db/admin/pomsapp/">Back to the admin</a></div>{% endblock %}

{# I disabled this block cause it was giving bad paths for the login/out URLs #}
{% block userlinks %}From here you can see all the orphan People records{% endblock %}


{% block content %} 
<div id="content-main"> 
	<h1>List of People records that are not related to any factoid</h1> 
	
	<div class="module">

	{% if list %}
	
	{# {% regroup list by user as user_list %} #}
		
	
	<ul>
		
		<table id="change-history">
	        <thead>
		        <tr>
		            <th scope="col">Person id</th>
		            <th scope="col">Person name</th>
		            <th scope="col">Floruits</th>
		        </tr>
	        </thead>
	        
			<tbody>
				
				
				{% for person in list %}
	
	    {# <br /><p><h2>{{ usr.grouper }}</h2></p><br /> #}
	    
		        <tr class="{% cycle 'row1' 'row2' %}">
		            <td>{{ person.id }}</td>
		            <td><a href="{{person.get_admin_url}}" target="_blank" title="edit">{{ person.persondisplayname }}</a></td>
		            <td>{{ person.nice_floruits|safe }}</td>
		        </tr>
		
	        	{% endfor %}
	
	        </tbody>
	
	    </table>

	</ul>
	
	
	
	{% else %}
	    <p>There is no Person record to display</p>
	{% endif %}
	</div>	
	
</div> 
{% endblock %}