{% load mptt_tags %}



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>


	<link type="text/css" href="{{ STATIC_URL }}css/ui/ui.all.css" rel="stylesheet" >

	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.draggable.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.resizable.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.dialog.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/utilities.js"></script>


	<script type="text/javascript">

				
	</script>

	
	<style>
	
		#header {
			background: Lavender;
		}
		
		#header	a {text-decoration:none; }
		#header a:link { color: blue;}
		#header a:visited { color: blue} 
		#header a:hover {color: blue }
			
		#body {
			color: black; 
			font-size: 10px;
			}
	
		.toplevel 	{
				background: #FFFABD;
			}
			
		#names:hover {
			background: yellow; 
			font-size: 17px; 
			}
		
		.numbers {color: grey;}
		
		.dates {font-size: 11px;}
		
/*		a {text-decoration:none}*/		

	</style>


	<title></title>

</head>

<body>
	
	
	<div id="dialog" title="Info">
		{# <p>This is the default dialog which is useful for displaying information.  #}
		{# 	The dialog window can be moved, resized and closed with the 'x' icon.</p> #}
	</div>
	
	<div id="header">
		<h1>{{name}}  [{{count}}]</h1>
		<br />
		<hr>
	
	</div>
	
	<br />		
	{% for i in toplevel_items  %}
		<br />
		<li class="toplevel">{{i.name}}</li>   {# level 1 #}
		
		{% for x in i.get_children %}
			<div>........{{x.name}}</div>		   {# level 2 #}
			
			{% for y in x.get_children %}
				<div>................{{y.name}}</div>		 {# level 3 #}
				
				
				{% for z in y.get_children %}
					<div>................................{{z.name}}</div>	      {# level 4 #}
					
					
					{% for q in z.get_children %}
						<div>................................................................{{q.name}}</div>	 {# level 5 #}	
						
						
						
						{% for w in q.get_children %}
							<div>....................................................................................................{{w.name}}</div>		 {# level 6 #}
							
							
							{% for p in w.get_children %}
								<div>................................................................................................................................................{{p.name}}</div>		{# level 7 #}		
							{% endfor %}
							
							
									
						{% endfor %}
						
								
					{% endfor %}
					
					
					
								
				{% endfor %}
				
				
						
			{% endfor %}
			
					
		{% endfor %}
	

	{% endfor %}
	
</body>


</html>