
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>


	
	<style>
		.names {color: black; }
		.names:hover {background: yellow; }
		
		.numbers {color: grey;}
		
		a {text-decoration:none}

	</style>
	
	<link type="text/css" href="{{ STATIC_URL }}css/ui/ui.all.css" rel="stylesheet" >
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}labs/css/navbar.css"/>
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.draggable.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.resizable.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/ui.dialog.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/ui/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/utilities.js"></script>

	{# <link href="{{ STATIC_URL }}css/ui/demos.css" rel="stylesheet" type="text/css"> #}


	<script type="text/javascript">
		$.ui.dialog.defaults.bgiframe = true;
		
		// $(".trigger").click(function() {
		// 			alert('Handler for .click() called.');
		// 		});
		
		$(function() {
			$("#dialog").dialog({
				autoOpen: false,
			});
			
			$('.trigger').click(function() {
						// id = $(this)....
						str = "ajax_art1?obj=" + id;
						clear_and_update("#dialog", str);
						// $('#dialog').html((Math.random()*3))
						$('#dialog').dialog('open');
					})
			
		});
		
		// how come the onclick function doesn't work????
		
		// $("#dialog").dialog();

		
		

				
	</script>



	<title></title>

</head>

<body>
	
	{# navbar #}
	<div id="googleTab">
	<ul class="googleTab" style="background: lightgray;">
		{# <li class="active"><a href="/labs">What is this?</a></li> #}
		<li><a href="/labs/peopleimportance">More info</a></li>
		<li><a href="/labs">Feedback</a></li>
	</ul>
	</div>
	{# end of navbar #}
		
	
	{% for p in peoplelist  %}
	
		<span class="trigger">
			<span  id="test" class="names" style="font-size: {{p.0}}px;"> 
				{{p.1.persondisplayname}}
			</span> 
		</span>
		<span class="numbers">{{p.2}}</span> <br/>
		
	{% endfor %}

	<div id="dialog" title="Basic dialog">
		<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
	</div>

	
</body>


</html>