{% extends "base.html" %}
{% load extrafilters static %}

{% block titlepage  %}
<title>POMS SNA: Grantor / Benefactor relationships </title>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block small_links %}
{% endblock %}




{% block load_css  %}


<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}sna_assets/a.css">
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}sna_assets/s.css">
<!-- link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}sna_assets/p.css" -->

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}sna_assets/jquery.css">

<style type="text/css" media="screen">
.ui-tooltip{
min-width: 550px;
overflow: auto;
max-height: 400px;
margin-top: 150px;
}

.ui-tooltip-bootstrap .ui-tooltip-titlebar {
font-size: 14px; font-weight: bold; background: #294C81; color: #fff;
}

#ui-tooltip-modal{
max-width: 420px;

-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

#ui-tooltip-modal .ui-tooltip-content{
padding: 10px;
}
</style>


<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sna_assets/styles/gexfjs.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sna_assets/styles/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}





{% block load_js  %}


<script src="{{ STATIC_URL }}sna_assets/analytics.js" async=""></script>

<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/jquery-1.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/functions_record.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript">
   // Fallback in case JQuery CDN isn't available
   if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript type='text/javascript' src='{{ STATIC_URL }}sna_assets/js/jquery-2.0.2.min.js'%3E%3C/script%3E"));
   }
</script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/js/gexfjs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}sna_assets/config_gran-ben.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-68207578-1', 'auto');
ga('send', 'pageview');

</script>
  <script type="text/javascript" src="{{ STATIC_URL }}sna_assets/jquery_002.js"></script>


<script>

    var pindex;
  var gephi;
    var xml;

{% if person_id %}
$(document).ready(function(){

  xml = $.ajax('{{ STATIC_URL }}sna_assets/gran-ben-2.gexf',{
    success:function(data){
      gephi = $.parseXML(data);
        pindex = $(gephi).find('graph').find('nodes').find('#{{ person_id }}').index();
            console.log(pindex)
            displayNode(pindex,true);
            GexfJS.params.zoomLevel = 9;
    }
  });

})
{% endif %}

</script>
{% endblock %}




{% block permalink %}

{% endblock %}







{% block contents %}

<div id="gw">
     <div id="cs">
          <!-- ######################### -->
          <div class="hdp">
               <table width="100%">
                 <tr>
      {% include "sna_selector_form.html" %}

                     <td align="right">
                      <form id="recherche" align="right">Locate an individual:
                        <input id="searchinput" class="inputgris" autocomplete="off">
                        <input id="searchsubmit" type="submit">
                      </form>
                     </td>
                  </tr>
    
                 <tr>
                  
                 <td colspan="2" align="right">(Powered by Raphael Velt's <a href="https://github.com/raphv/gexf-js">gexf-js</a> software.)</td></tr>
               </table>
               
          </div> <!-- div class="hdp" -->
     </div> <!-- div id="cs" -->
     
</div> <!-- div id="gw" -->

<div id="gexfjsContent">
     <!-- from gexf-js  -->
     <div id="zonecentre" class="gradient">
          <canvas id="carte" width="0" height="0"></canvas>
          <ul id="ctlzoom">
            <li><a href="#" id="zoomPlusButton" title="S'approcher"> </a></li>
            <li id="zoomSliderzone">
               <div id="zoomSlider"></div> <!-- div id="zoomSlider" -->
            </li>
            <li><a href="#" id="zoomMinusButton" title="S'éloigner"> </a></li>
            <li><a href="#" id="lensButton"> </a></li>
             <li><a href="#" id="edgesButton"> </a></li>
          </ul>
     </div> <!-- div id="zonecentre" -->
     <div id="overviewzone" class="gradient">
          <canvas id="overview" width="0" height="0"></canvas>
     </div> <!-- div id="overviewzone" class="gradient" -->
     <div id="leftcolumn">
          <div id="unfold">
               <a href="#" id="aUnfold" class="rightarrow"> </a>
          </div> <!-- div id="unfold" -->
          <div id="leftcontent"></div> <!-- div id="leftcontent" -->
     </div> <!-- div id="leftcontent" -->
     <!-- end from gexf-js -->
</div> <!-- div id="gexfjsContent" -->
<div id="autocomplete"></div>
{% endblock %}






  
{% block body_closing %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
  {% include "pomsapp/snippet_history.html" %}
  {% include "pomsapp/record/snippet_citation.html" %}
{% endblock %}  

