{% extends "base.html" %}
{% load extrafilters static %}

{% block titlepage  %}
<title>POMS SNA: Grantor / Benefactor relationships </title>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block small_links %}
{% endblock %}




{% block load_css  %}

<link rel="stylesheet" type="text/css" media="all" href="/media/static/sna_assets/a.css">
<link rel="stylesheet" type="text/css" media="screen, projection" href="/media/static/sna_assets/s.css">
<!-- link rel="stylesheet" type="text/css" media="print" href="/media/static/sna_assets/p.css" -->

<link type="text/css" rel="stylesheet" href="/media/static/sna_assets/jquery.css">

<style type="text/css" media="screen">
.ui-tooltip{
min-width: 550px;
overflow: auto;
max-height: 400px;
margin-top: 150px;
}

.ui-tooltip-bootstrap .ui-tooltip-titlebar {
font-size: 14px; font-weight: bold; background: #294C81; color: #fff;
}

#ui-tooltip-modal{
max-width: 420px;

-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}

#ui-tooltip-modal .ui-tooltip-content{
padding: 10px;
}
</style>

<link rel="stylesheet" type="text/css" href="/media/static/sna_assets/styles/gexfjs.css" />
<link rel="stylesheet" type="text/css" href="/media/static/sna_assets/styles/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}





{% block load_js  %}

<script src="/media/static/sna_assets/analytics.js" async=""></script>

<script type="text/javascript" src="/media/static/sna_assets/jquery-1.js"></script>

<script type="text/javascript" src="/media/static/sna_assets/jquery.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/jquery-ui.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/cufon.js"></script><style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
<script type="text/javascript" src="/media/static/sna_assets/agaramondpro.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/functions_record.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript">
   // Fallback in case JQuery CDN isn't available
   if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript type='text/javascript' src='/media/static/sna_assets/js/jquery-2.0.2.min.js'%3E%3C/script%3E"));
   }
</script>
<script type="text/javascript" src="/media/static/sna_assets/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/js/gexfjs.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/config_gran-ben.js"></script>
<script type="text/javascript" src="/media/static/sna_assets/jquery_002.js"></script>
{% endblock %}




{% block permalink %}

{% endblock %}







{% block contents %}

<div id="gw">

     <div id="cs">
          <!-- ######################### -->
          <div class="hdp">
               <table width="100%">
                 <tr>
      {% include "sna_selector_form.html" %}

                     <td align="right">
                      <form id="recherche" align="right">Locate an individual:
                        <input id="searchinput" class="inputgris" autocomplete="off">
                        <input id="searchsubmit" type="submit">
                      </form>
                     </td>
                  </tr>
    
                 <tr>
                  
                 <td colspan="2" align="right">(Powered by Raphael Velt's <a href="https://github.com/raphv/gexf-js">gexf-js</a> software.)</td></tr>
               </table>
               
          </div> <!-- div class="hdp" -->
     </div> <!-- div id="cs" -->
     
</div> <!-- div id="gw" -->

<div id="gexfjsContent">
     <!-- from gexf-js  -->
     <div id="zonecentre" class="gradient">
          <canvas id="carte" width="0" height="0"></canvas>
          <ul id="ctlzoom">
            <li><a href="#" id="zoomPlusButton" title="S'approcher"> </a></li>
            <li id="zoomSliderzone">
               <div id="zoomSlider"></div> <!-- div id="zoomSlider" -->
            </li>
            <li><a href="#" id="zoomMinusButton" title="S'éloigner"> </a></li>
            <li><a href="#" id="lensButton"> </a></li>
             <li><a href="#" id="edgesButton"> </a></li>
          </ul>
     </div> <!-- div id="zonecentre" -->
     <div id="overviewzone" class="gradient">
          <canvas id="overview" width="0" height="0"></canvas>
     </div> <!-- div id="overviewzone" class="gradient" -->
     <div id="leftcolumn">
          <div id="unfold">
               <a href="#" id="aUnfold" class="rightarrow"> </a>
          </div> <!-- div id="unfold" -->
          <div id="leftcontent"></div> <!-- div id="leftcontent" -->
     </div> <!-- div id="leftcontent" -->
     <!-- end from gexf-js -->
</div> <!-- div id="gexfjsContent" -->
<div id="autocomplete"></div>
{% endblock %}






  
{% block body_closing %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
  {% include "pomsapp/snippet_history.html" %}
  {% include "pomsapp/record/snippet_citation.html" %}
{% endblock %}  

