{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block contents %}
    <!--{{ self.body | richtext }}-->

    <div id="homepage">

 		<figure>
	  		{% image self.promo_image width-500 %}

	  		{% if self.promo_caption %}
	  		<figcaption>{{ self.promo_caption|safe }}</figcaption>
	  		{% endif %}
		</figure>


    	
    	<section>
	    	{{ self.body|richtext }}

    	</section>
    
       
	    <div id="explore">
	    	<h2>Explore</h2>
		    <ul>
		    	{% if self.link_1_thumbnail %}
			    <li>
			    	<a href="{{ self.link_1_url }}">
				    	{% image self.link_1_thumbnail width-100 %}
				    	<div class="content">
				    		<h4>{{ self.link_1_title }}</h4>
			    		</div>
			    	</a>
			    </li>
			    {% endif %}
			   {% if self.link_2_thumbnail %}
			    <li>
			    	<a href="{{ self.link_2_url }}">
				    	{% image self.link_2_thumbnail width-100 %}
				    	<div class="content">
				    		<h4>{{ self.link_2_title }}</h4>
			    		</div>
			    	</a>
			    </li>
			   {% endif %}
			   {% if self.link_3_thumbnail %}
			    <li>
			    	<a href="{{ self.link_3_url }}">
				    	{% image self.link_3_thumbnail width-100 %}
				    	<div class="content">
				    		<h4>{{ self.link_3_title }}</h4>
			    		</div>
			    	</a>
			    </li>
			   {% endif %}
			   {% if self.link_4_thumbnail %}
			    <li>
			    	<a href="{{ self.link_4_url }}">
				    	{% image self.link_4_thumbnail width-100 %}
				    	<div class="content">
				    		<h4>{{ self.link_4_title }}</h4>
			    		</div>
			    	</a>
			    </li>
			   {% endif %}
			   
		    </ul>
		</div>
    </div>
    {% endblock %}
<ul>
									

