*.dat filter=lfs diff=lfs merge=lfs -text
*.bowerrc filter=lfs diff=lfs merge=lfs -text
*.dockerignore filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/.vagrant_provisioning/00-kdl filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/.vagrant_provisioning/zshrc filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Vagrantfile filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.less filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.scss filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
/compose/django/Dockerfile filter=lfs diff=lfs merge=lfs -text
/compose/django/start filter=lfs diff=lfs merge=lfs -text
/compose/geoserver/Dockerfile filter=lfs diff=lfs merge=lfs -text
/compose/nginx/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/compose/postgis/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.save filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.asc filter=lfs diff=lfs merge=lfs -text
*.prj filter=lfs diff=lfs merge=lfs -text
*.tfw filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.pgw filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.fix filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.qix filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.gpkg filter=lfs diff=lfs merge=lfs -text
*.gpkg-shm filter=lfs diff=lfs merge=lfs -text
*.gpkg-wal filter=lfs diff=lfs merge=lfs -text
*.url filter=lfs diff=lfs merge=lfs -text
*.pal filter=lfs diff=lfs merge=lfs -text
*.jceks filter=lfs diff=lfs merge=lfs -text
/volumes/geoserver/data/security/masterpw/default/passwd filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.sld filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.ftl filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.ttl filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.ver filter=lfs diff=lfs merge=lfs -text
*.alloc filter=lfs diff=lfs merge=lfs -text
*.prop filter=lfs diff=lfs merge=lfs -text
/volumes/tomcat/rdf/repositories/poms/txn-status filter=lfs diff=lfs merge=lfs -text
*.hash filter=lfs diff=lfs merge=lfs -text
*.id filter=lfs diff=lfs merge=lfs -text
*.MF filter=lfs diff=lfs merge=lfs -text
/volumes/tomcat/webapps/rdf/META-INF/war-tracker filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
*.owl filter=lfs diff=lfs merge=lfs -text
