# GN: 31 jan 2018, wagtail 1.13.1 doesn't play well with django 2.0
django
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-redis
django-registration<3
django_select2
mysqlclient
django-mptt
redis
pysolr
django-kdl-ldap
wagtail
docutils
django-haystack
