{% load extrafilters %}
	

<table class="simple headersX">
    <tbody>
   

	      <tr>
	        <th><!--<a class="{{active_ordering|infer_class:'factoiddesc'}}" href="javascript:change_ordering('factoiddesc');">--><b>Description</b><!--</a>--></th>
		    <th><!--<a class="{{active_ordering|infer_class:'factoidtype'}}" href="javascript:change_ordering('factoidtype');">--><b>Type</b><!--</a>--></th>
	        <th><!--<a class="{{active_ordering|infer_class:'factoidsource'}}" href="javascript:change_ordering('factoidsource');">--><b>Source</b><!--</a>--></th>
	        <th><!--<a class="{{active_ordering|infer_class:'factoiddate'}}" href="javascript:change_ordering('factoiddate');">--><b>Date</b><!--</a>--></th>
	      </tr>

		{% for record in items.object_list %}			

	      <tr>
	        {# <td><a class="no_extlink" href="?resulttype={{result_typeObj.uniquename}}&amp;item={{record.id}}{{newurl_stub}}" title="show preview" target="_self"> #}
	        <td><a class="no_extlink factoid-{{ record.id }} " href="{{record.get_absolute_url}}" title="show preview" target="_self">
				{{record|capfirst|default:"<i>item empty (check DB for deletion)</i>"}}
		    	</a></td>
			<td>{{record.inferred_type}}</td>
	        <td><a class="no_extlink" href="{% url source_detail record.sourcekey.id %}" title="Go to source record" target="_self">{{record.sourcekey|poms_italic|safe}}</a></td>
			<td>{{record.firmdate|format_dates}}</td>
	      </tr>

		{% endfor %}



<script>


geoArray = [
{% for rec in all_items.object_list %}
 {% if rec.poss_lands.all.count > 0 %}
 {"db_id":"{{ rec.id }}",
  "source":"{{ rec.sourcekey }}",
  "type":"{{ rec.inferred_type }}", 
  "desc":"{{ rec.shortdesc }}",
  "record_type":"{{ result_typeObj.label }}",  
  "places":[ {% for land in rec.poss_lands.all %}{% if land.place.geom %} {"name":"{{land.place.name}}",
                "coordinates":"{{land.place.geom.y}},{{land.place.geom.x}}"}  ,{% endif %}  {% endfor %}   ],
  "people":[{% for person in rec.assocfactoidperson_set.all %}{"id":{{ person.id }},"name":"{{ person.person }}","role":"{{ person.role}}"},{% endfor %}],  
 },
 {% endif %} 
{% endfor %}

]

</script>


	

    </tbody>


</table>





