{% load extrafilters %}




<!-- hidden fields useful to store data -->
<input type="hidden" id="active_ordering" value="default" />
<!-- end of hidden fields -->
	


<h1>Preview of: {{single_item.shortdesc}} 
	<span id="rec_num" style="display:none;">1</span>
	<small class="smalllinks">
		{% if single_item.prev %}<a href="?resulttype={{result_typeObj.uniquename}}&amp;item={{single_item.prev}}{{newurl_stub}}">prev</a> |{% endif %}
		{% if single_item.next %}<a href="?resulttype={{result_typeObj.uniquename}}&amp;item={{single_item.next}}{{newurl_stub}}">next</a> |{% endif %} 
		{% if single_item.fullrecord %}<a href="{{single_item.get_absolute_url}}">full record</a> |{% endif %}
		{% if request.user.is_authenticated %}<a href="{{single_item.get_admin_url}}">admin record</a> |{% endif %}	
		<a title="Back to the results page" href="?resulttype={{result_typeObj.uniquename}}{{newurl_stub}}">search results</a>
	</small>
</h1>


<table class="simple headersX">
    <tbody>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>

	    <tr>
			<td>Type of Factoid</td>
        	<td>{{single_item.inferred_type|capfirst|default:"&nbsp;"}}</td>
	    </tr>
		<tr>
			<td>Source</td>
        	<td>{{single_item.sourcekey|poms_italic|safe|default:"&nbsp;"}}</td>
        </tr>
		<tr>
			<td>Description</td>
        	<td>{{single_item.shortdesc|poms_italic|safe|default:"&nbsp;"}}</td>
        </tr>
		<tr>
			<td>Firm date</td>
        	<td>{{single_item.firmdate|default:"&nbsp;"}}</td>
        </tr>
		<tr>
			<td>Probable date</td>
        	<td>{{single_item.probabledate|default:"&nbsp;"}}</td>
        </tr>
		<tr>
			<td>Dating Notes</td>
        	<td>{{single_item.datingnotes|poms_italic|safe|default:"&nbsp;"}}</td>
		</tr>
		<tr>
			<td>Associated People</td>
        	<td>{{ single_item.assocfactoidperson_set.all|length }}</td>
		</tr>

    </tbody>


</table>

