{% load staticfiles pomsapp_tags pomsapp_wagtail_tags wagtailcore_tags %}

<nav class="subnav">
    <ul class="menu">
        {% comment %}
            TODO: add class="active" when the url of the current page matches the menu item
        {% endcomment %}
        {# example of active class // Should be removed once implemented #}
     {% get_wagtail_page slug as wagtail_page %}
        {% for page in wagtail_page.get_children.specific %}
            <li>
                <a href="{% pageurl page %}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
