{% load extrafilters %}

<!-- Tab Content -->
{# ----------- #}
{# TRANSACTION #}
{# ----------- #}

{% if transactionFact.object_list %}
    <section id="content1" class="tab-content">
        <div id="{{ transactionFact.type }}">


            {% block transactionFact %}

                {% with transactionFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>

                <table>
                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1"
                               data-tab="{{ transactionFact.type }}">Date</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="summary"
                               data-tab="{{ transactionFact.type }}">Short Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="role"
                               data-tab="{{ transactionFact.type }}">Role</a></th>
                        <th>Witnesses</th>
                        <th><a class=" " data-page="1" data-ordering="source" data-tab="{{ transactionFact.type }}">Source</a>
                        </th>
                    </tr>

                    {% for a in transactionFact.object_list %}

                        <tr>
                            <td>{{ a.factoid.firmdate|format_dates|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoid.id %}"
                                   title="click to show">{{ a.factoid }}</a></td>
                            <td>{{ a.role }}</td>
                            <td>{{ a.factoid.witnesses.all|printmany_withabsoluteurl|safe }}</td>
                            <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}"
                                   title="click to show">{{ a.factoid.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}


                </table>


                <br/><br/>


            {% endblock transactionFact %}


        </div>
    </section>
    {# end of fragment1 #}

{% endif %}




{# ----------- #}
{# RELATIONSHIP #}
{# ----------- #}

{% if relationshipFact.object_list %}
    <section id="content2" class="tab-content">
        <div id="{{ relationshipFact.type }}">


            {% block relationshipFact %}

                {% with relationshipFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>

                <table>
                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1"
                               data-tab="{{ relationshipFact.type }}">Date</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="summary"
                               data-tab="{{ relationshipFact.type }}">Short Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="role"
                               data-tab="{{ relationshipFact.type }}">Role</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="source"
                               data-tab="{{ relationshipFact.type }}">Source</a></th>
                    </tr>

                    {% for a in relationshipFact.object_list %}

                        <tr>
                            <td>{{ a.factoid.firmdate|format_dates|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoid.id %}"
                                   title="click to show">{{ a.factoid }}</a></td>
                            <td>{{ a.role }}</td>
                            <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}"
                                   title="click to show">{{ a.factoid.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}


                </table>


                <br/><br/>


            {% endblock relationshipFact %}


        </div>
    </section>
    {# end of fragment1 #}

{% endif %}




{# ----------- #}
{# TITLE FACTOID #}
{# ----------- #}

{% if titleFact.object_list %}
    <section id="content3" class="tab-content">
        <div id="{{ titleFact.type }}">


            {% block titleFact %}

                {% with titleFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>

                <table>
                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1"
                               data-tab="{{ titleFact.type }}">Date</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="summary" data-tab="{{ titleFact.type }}">Short
                            Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="source" data-tab="{{ titleFact.type }}">Source</a>
                        </th>
                    </tr>


                    {% for a in titleFact.object_list %}

                        <tr>
                            <td>{{ a.factoid.firmdate|format_dates|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoid.id %}"
                                   title="click to show">{{ a.factoid }}</a></td>
                            <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}"
                                   title="click to show">{{ a.factoid.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}


                </table>


                <br/><br/>


            {% endblock titleFact %}


        </div>
    </section>
    {# end of fragment1 #}

{% endif %}





{# ----------- #}
{# POSSESSION FACTOID #}
{# ----------- #}

{% if possessionFact.object_list %}
    <section id="content4" class="tab-content">
        <div id="{{ possessionFact.type }}">


            {% block possessionFact %}

                {% with possessionFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>

                <table>
                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1"
                               data-tab="{{ possessionFact.type }}">Date</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="summary"
                               data-tab="{{ possessionFact.type }}">Short Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="role" data-tab="{{ possessionFact.type }}">Role</a>
                        </th>
                        <th><a class="paginate" data-page="1" data-ordering="source"
                               data-tab="{{ possessionFact.type }}">Source</a></th>
                    </tr>


                    {% for a in possessionFact.object_list %}

                        <tr>
                            <td>{{ a.factoid.firmdate|format_dates|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoid.id %}"
                                   title="click to show">{{ a.factoid }}</a></td>
                            <td>{{ a.role }}</td>
                            <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}"
                                   title="click to show">{{ a.factoid.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}


                </table>


                <br/><br/>


            {% endblock possessionFact %}


        </div>
    </section>
    {# end of fragment1 #}

{% endif %}



{# ----------- #}
{# PRO-ANIMA FACTOID #}
{# ----------- #}


{% if proanimaFact.object_list %}
    <section id="content5" class="tab-content">
        <div id="{{ proanimaFact.type }}">

            {% block proanimaFact %}

                {% with proanimaFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>
                <table>

                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1" data-tab="{{ proanimaFact.type }}">Date</a>
                        </th>
                        <th><a class="paginate" data-page="1" data-ordering="summary"
                               data-tab="{{ proanimaFact.type }}">Short Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="role" data-tab="{{ proanimaFact.type }}">Role</a>
                        </th>
                        <th><a class="paginate" data-page="1" data-ordering="source" data-tab="{{ proanimaFact.type }}">Source</a>
                        </th>
                    </tr>

                    {% for a in proanimaFact.object_list %}

                        <tr>
                            <td>{{ a.factoidtrans.firmdate|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoidtrans.id %}"
                                   title="click to show">{{ a.factoidtrans }}</a></td>
                            <td>{{ a.role }}</td>
                            <td><a href="{% url 'source_detail' a.factoidtrans.sourcekey.id %}"
                                   title="click to show">{{ a.factoidtrans.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}

                </table>
                <br/>

            {% endblock proanimaFact %}

        </div>
    </section>

{% endif %}





{# ----------- #}
{# WITNESSES FACTOID #}
{# ----------- #}


{% if witnessFact.object_list %}
    <section id="content6" class="tab-content">
        <div id="{{ witnessFact.type }}">

            {% block witnessFact %}

                {% with witnessFact as items %}
                    {% include "pomsapp/record/paginator_record.html" %}
                {% endwith %}

                <input type="hidden" class="active_ordering" value="{{ active_ordering }}"/>

                <br/>
                <table>

                    <tr>
                        <th><a class="paginate" data-page="1" data-ordering="date1" data-tab="{{ witnessFact.type }}">Date</a>
                        </th>
                        <th><a class="paginate" data-page="1" data-ordering="summary" data-tab="{{ witnessFact.type }}">Short
                            Summary</a></th>
                        <th><a class="paginate" data-page="1" data-ordering="source" data-tab="{{ witnessFact.type }}">Source</a>
                        </th>
                    </tr>

                    {% for a in witnessFact.object_list %}

                        <tr>
                            <td>{{ a.factoid.firmdate|default:"unavailable"}}</td>
                            <td><a href="{% url 'factoid_detail' a.factoid.id %}"
                                   title="click to show">{{ a.factoid }}</a></td>
                            {# <td>{{a.role}}</td> #}
                            <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}"
                                   title="click to show">{{ a.factoid.sourcekey|poms_italic|safe }}</a></td>
                        </tr>

                    {% endfor %}

                </table>
                <br/>
            {% endblock witnessFact %}
        </div>
    </section>

{% endif %}
<!-- end Tab Content -->