{# IN THE HEADER OF THE MAIN PAGE: #}

{# <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}labs/css/jqeasypanel.css"/> #}
{# <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}labs/css/navbar.css"/> #}
{# <script type="text/javascript" src="{{ STATIC_URL }}labs/js/jquery1.6/jquery.min.js"></script> #}
{# <script type="text/javascript" src="{{ STATIC_URL }}labs/js/jquery.jqEasyPanel.min.js"></script> #}

{# <script>  #}
{# $(document).ready(function() { #}

{# 	$('#jqeasypanel').jqEasyPanel({height: '130px'});		 #}

{# }); #}
{# </script> #}







{# THIS SNIPPET SHOULD GO RIGHT AFTER THE BODY ELEMENT #}

{# supports a 'experiment_title' and an 'experiment_description' variable  #}



<div id="googleTab">
	<ul class="googleTab">
		<h1>People of Medieval Scotland: {{experiment_title|default:"Experiment"}} <span style="font-size: 12px;">&nbsp;&nbsp;&nbsp;(<a href="go" style="display: inline; text-decoration: none; color: blue; padding: 1px;">&rarr; start over</a>)</span></h1>
	</ul>	
</div>



<div id="jqeasypanel">
	
	<div id="copy">
    	<p>{{experiment_description|safe|default:"No description available"}}</p>
	    <p><a href="/labs">&rarr; PoMS Labs homepage</a></a>
    </div>

	<!-- EXTRA AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="padding: 22px 20px 0px 0px;">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff6b8ef6c166b00"></script>
	<!-- AddThis Button END -->

    {# <div id="jqeasypaneloptions"> #}
    {# 	<p><label for="keepopen">Keep panel open?</label> <input name="keepopen" id="keepopen" type="checkbox" value="" /></p> #}
    {# </div> #}
</div>

<div id="jqeasytrigger">
    <a href="#" class="open">What is this?</a>
    <a href="#" class="close">Close</a>
</div>


<!-- GOOGLE ANALYTICS CODE START -->

<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24308089-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	
</script>
-->
        
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68207578-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- GOOGLE ANALYTICS CODE END -->