/** POMS Styleshee 2018 **/

@import 'fonts';

/***
 * -- Variables
 * -- Globals
 * ----- Buttons
 * ----- Filters
 * ----- Headings
 * ----- Lists
 * -- Header
 * -- Navigation
 * -- Main content
 * ----- Forms
 * ----- Pagination
 * ----- Slider
 * ----- Table
 * ----- Tooltips
 * ----- Map
 * ----- Tabs
 * -- Facets
 * ----- Sidebar
 * -- Footer
 * -- Import FontAwesome
 */

/* Variables */

$beige: #e3e2cd;
$primary-color: #2c528b;
$gray1:#f1f1f1;
$gray2:#ccc;
$gray3: #999;
$darkblue:#2c528b;
$white:#fff;
$black:#000;

/* Globals */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

// Buttons

button,
input,
.submit {
    border: 1px solid $beige;
    font-size: 16px;
    margin-top: 16px;
    padding: 8px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button.primary,
input[type="submit"],
.submit {
    background: $primary-color;
    color: white;
}

input {
    &.year {
        width: 70px;
    }
}

// Filters

.filters {
    display: block;
    overflow: hidden;
    padding-left: 0;
    width: 100%;

    li {
        background: $beige;
        float: left;
        margin-right: 5px;
        padding: 8px;
    }
}

// Headings

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.125;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
}

h2, h3, h4, h5, h6 {
    font-family: 'EB_Garamond', serif;
}

.top-header {
    h1 {
        color: $beige;
        font-size: 28px;
        margin: 0;
        padding: 42px 0 0 148px;
        text-shadow: 3px 3px 4px black;
        text-transform: uppercase;
    }
}

// Lists

.no-bullet {
    list-style: none;
}

/* Header */

.top-header {
    background: url('/static/images/header-banner.jpg') top left no-repeat black;
    min-height: 140px;
}

/* Navigation */

.menu {
    margin: 0;
    padding: 0;

    a {
        padding: 8px 16px;

        &:hover {
            background: darken($primary-color, 10%);
            color: $beige;
            text-decoration: none;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        padding: 8px 0;
    }
}

#gw{
    ul.nvl{
        background: #eff3fa;
        margin: 0 0 0 -20px;
        font-family: "EB_Garamond";

        li {
            display: inline-block;
            list-style: none;
            padding: 8px 15px
        }
    }
}

nav {
    font-family: "EB_Garamond";
}

.subnav {
    background: lighten($primary-color, 60%);

    a {
        color: $primary-color;

        &.active {
            background: lighten($primary-color, 50%);
        }
    }
}

.top-nav {
    background: $primary-color;

    a {
        color: white;

        &.active {
            background: lighten($primary-color, 60%);
            color: $primary-color;
        }
    }
}


/* Main content */

.main {
    float: left;
    padding-left: 8px;
    padding-right: 16px;
    width: 75%;
}

.wrapper {
    clear: both;
    display: block;
    width: 100%;
}

#cs{
    padding: 0 16px;
}

dl{
    margin-bottom: 3em;
}

dt{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 21em;
    line-height: 31px;
}

dd{
    font-family: 'EB_Garamond', serif;
    margin: 0;
    padding: 0.3em 0 0.3em 16em;
    border-bottom: 1px solid #e8ecf2;
}
// Forms

fieldset {
    border: none;
}

#search_form {
}

// Pagination

.pagination {
    border: 1px solid $primary-color;
    border-left: 0;
    border-right: 0;
    list-style: none;
    padding: 8px 0;

    li {
        display: inline-block;
    }

    a {
        padding: 8px 16px;
        text-decoration: none;

        &.active,
        &:hover:not(.active) {
            background: lighten($primary-color, 60%);
        }
    }
}


// Slider

.g-ranger {
  background-color: lighten($primary-color, 55%);
  display: block;
  height: 10px;
  position: relative;

  .slider {
      background-color: lighten($primary-color, 10%);
      border: 1px solid #fff;
      cursor: pointer;
      display: block;
      height: 16px;
      left: 0;
      margin-top: -3px;
      margin-left: -3px;
      position: absolute;
      top: 0;
      width: 16px;
      z-index: 100;
    }
}

// Table
table{
    width:100%;
}

td,
th {
    border: 1px solid white;
    padding: 8px;
}

th {
    background: $primary-color;
    color: white;
    font-weight: normal;
    text-align: left;

    a {
        color: white;
    }
}

tr:nth-child(odd) {
    background: lighten($primary-color, 55%);
}

tr:nth-child(even) {
    background: lighten($primary-color, 62%);
}

// Tooltips

 /* Tooltip container */
.tooltip {
    display: inline-block;
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    background-color: $primary-color;
    border-radius: 2px;
    color: #fff;
    font-size: .875em;
    line-height: 1.25;
    padding: 16px;
    visibility: hidden;
    width: 180px;

    /* Position the tooltip text */
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    content: "";
    left: 40%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
} 

// Map
#map{
    margin: 0!important;
}

// Tabs

#tabs{
    font-family: 'EB_Garamond', serif;

    input, section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    section{
        border: 1px solid $gray1;

        h4{
            display: inline-block;
            width:50%;
            text-align: left;
            color: $black;
        }
        ul {
            padding-left:0;
            display: inline-block;
            width:49%;
            text-align: right;
            color: $black;
        }

        li{
            list-style-type: none;
            display: inline;

                &:nth-child(-n+2){
                padding-right:16px;
                }
                &:nth-last-child(-n+2){
                padding-left:16px;
                }

            }
        
    }
    label {
        display: inline-block;
        margin: 4px 0 0 0;
        padding: 10px 20px;
        text-align: center;
        color: $gray3;
        background: $gray1;
    }

    label:hover {
      color: #888;
      cursor: pointer;
    }

    label span{
        font-size:10px;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5,
    #tab6:checked ~ #content6,
    #tab7:checked ~ #content7,
    #tab8:checked ~ #content8,
    #tab9:checked ~ #content9,
    #tab10:checked ~ #content10,
    #tab11:checked ~ #content11,
    #tab12:checked ~ #content12   {
      display: block;
      padding: 20px;
      background: #fff;
      color: $gray3;
    }

    [id^="tab"]:checked + label {
      color: $white;
      background: $darkblue;
    }
}



/* Facets */

// Sidebar

.facet-sidebar {
    float: left;
    padding-left: 16px;
    padding-right: 8px;
    width: 25%;

    .active {
        font-weight: bold;
    }
}

.facet-group,
.facets-list {
    list-style: none;
    li {
        p:first-letter {
            text-transform: uppercase;
        }
    }
}

.facet-group-name {
    cursor: pointer;
}

/* Footer */

/* Import FontAwesome */
@import '../fonts/FontAwesome/scss/fontawesome.scss';