/** POMS Styleshee 2018 **/

@import 'fonts';

/***
 * -- Variables
 * -- Globals
 * ----- Buttons
 * ----- Filters
 * ----- Headings
 * ----- Lists
 * -- Header
 * -- Navigation
 * -- Main content
 * ----- Forms
 * ----- Pagination
 * ----- Slider
 * ----- Table
 * ----- Tooltips
 * ----- Map
 * ----- Tabs
 * -- Facets
 * ----- Selected
 * ----- Sidebar
 * -- Homepage
 * -- Footer
 * -- Import FontAwesome
 */

/* Variables */

$beige: #e3e2cd;
$primary-color: #2c528b;
$gray: #666;
$white:#fff;
$black:#000;

/* Globals */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'EB_Garamond', serif;
    font-size:1.1rem;
    max-width:1800px;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

// Buttons

button,
input,
.submit {
    border: none;
    font-size: 14px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button.primary,
input[type="submit"],
.submit {
    background: $primary-color;
    color: white;
}

input {
    &.year {
        width: 70px;
    }
}

// Filters

.filters {
    display: block;
    overflow: hidden;
    padding-left: 0;
    width: 100%;

    li {
        background: $beige;
        float: left;
        margin-right: 5px;
        padding: 8px;
    }
}

// Headings

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.125;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
}


h2{
    font-size: 1.3em;
}
header {
    h1 {
        color: $beige;
        font-size: 28px;
        margin: 0;
        padding: 42px 0 0 148px;
        text-shadow: 3px 3px 4px black;
        text-transform: uppercase;
    }
}

// Lists

.no-bullet {
    list-style: none;
}

#cs{
    ul{
     >li{
        list-style-type: square;
        ul>li{
        list-style-type: circle;
        }
    }
}
}
/* Header */

.top-header {
    background: url('/static/images/header-banner.jpg') top left no-repeat black;
    min-height: 140px;
}

/* Navigation */

.primary-nav {
    background: $primary-color;
    text-transform: uppercase;
    padding:0 2%;
    ul{
        margin: 0 0  0 -56px;
        
        li {
        display: inline-block;
        list-style: none;
        padding: 16px 16px;
            
            &:hover { 
                a{
                    text-decoration: none;
                    color: lighten($primary-color, 40%);
                }
            }

            &.active {
                background: darken($primary-color, 20%);
            }
            a {
            color: white;

            }
        }
    }

}

/*.menu {
    margin: 0;
    padding: 0;

    a {
        padding: 8px 16px;

        &:hover { 
            color: lighten($primary-color, 40%);
            text-decoration: none;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        padding: 8px 0;
    }
}*/


#wagtail-wrapper{
    margin:2% 2%;
    h2{
        font-size: 1.4em;
        margin: 1rem 0 0.5rem 0;
        &.float-left{
            float:left;
            border-bottom: 1px solid $gray;
        }
    }

    ul.utl.m1{
        margin-left:-40px;
        li{
            list-style-type: none;
        }
    }
    #secondary-nav{
        width:23%;
        float:left;
        margin-right:2%;
        >ul{
            margin-left:-40px;
            list-style-type: none;
            >li{
                
                background: lighten($gray,57%);

                a{
                    color: $black;
                    padding:8px 16px;
                    display: block;
                }

                &:hover{
                    background: $primary-color;

                    a{
                        text-decoration: none;
                        color: $white;
                    }
                }

                &.active {
                    background: darken($primary-color, 20%);
                    a{
                        color: $white;
                        text-decoration: none;
                    }
                    
                    >ul{ /* 3rd level */
                        list-style-type: none;
                        background: $white;
                        border:2px solid $primary-color;
                        >li{
                            background: lighten($gray,57%);
                            padding: 8px 8px 8px 40px;
                            margin-left: -40px;
                            &.active{
                                >a{
                                    text-decoration: underline;
                                }
                                >ul{
                                    >li{
                                        border-left:0;
                                    }
                                }
                            }
                            >a{
                                color: $black;
                            }
                            >ul{ /* 4th level */

                                >li{
                                    padding: 8px 8px 8px 0;
                                    >a{
                                    color: $black;
                                    }
                                    &:hover{
                                    color: $white;
                                        >a{
                                            text-decoration: underline;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        
                            &:hover{
                                background: $primary-color;
                                >a{
                                    color: $white;
                                }
                                >ul{
                                    >li{
                                        color: $white;
                                        >a{ 
                                            color: $white;
                                        }
                                    }
                                }

                            }






                        }
                    }
                }


            }
        }
        /*ul{
            background: #eff3fa;
            margin: 0 0 0 -40px;
            font-family: "EB_Garamond";
            padding: 0.8em 40px;

            li {
                display: inline-block;
                list-style: none;
                padding: 8px 8px;
               
                a {
                color: $primary-color;
                padding:0.2em 0.5em;
                margin:0;
                color: lighten($primary-color, 20%);
                
                    &.active {
                        border-bottom: 1px solid darken($primary-color,20%);
                        color: darken($primary-color,20%);
                    }
                    &:hover{
                        border-bottom: none;
                        background: none;
                        color:darken($primary-color,20%);
                        text-decoration: none;
                    }
                }
            }
        }*/
    }
    #wagtail-content{
        width:75%;
        float:left;
    }

    ul.experimental{
        margin-left:-40px;
        list-style-type: none;
        li{
            display: inline-block;
            &.labslink{
                margin:0 8px;
                padding:2px 8px;
                border:1px solid $primary-color;

                &:hover{
                    background: $primary-color;
                    a{
                        color:lighten($primary-color, 45%);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#breadcrumbs{
    font-size: 0.95rem;
    color: $gray;
    border-bottom: 1px solid lighten($gray,50%);
    margin-bottom: 16px;

    ul{
        list-style-type: none;
        margin-left: -40px;
        li{
            display: inline-block;
            
         }
    }
}
nav {
    font-family: "EB_Garamond";
}

.subnav {
    background: lighten($primary-color, 60%);
    padding:0.8em 0;

    a {
        color: $primary-color;
        padding:0.2em 0.5em;
        margin:0 1em;
        color: lighten($primary-color, 20%);
        &.active {
            border-bottom: 1px solid darken($primary-color,20%);
            color: darken($primary-color,20%);
        }
        &:hover{
            border-bottom: none;
            background: none;
            color:darken($primary-color,20%);
        }
    }
}



/* Main content */

.main {
    float: left;
    padding-left: 8px;
    padding-right: 16px;
    width: 75%;
}

.wrapper {
    clear: both;
    display: block;
    width: 100%;
}

#cs{
    padding: 0 24px;
}

dl{
    margin-bottom: 3em;
}

dt{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 21em;
    line-height: 31px;
}

dd{
    font-family: 'EB_Garamond', serif;
    margin: 0;
    padding: 0.3em 0 0.3em 16em;
    border-bottom: 1px solid #e8ecf2;
}
// Forms

fieldset {
    border: none;
}

#search_form {
    background: $primary-color;
    padding: 1.5em 2% 0.5em 2%;
    color: $white;
    font-size: 1em;
    margin-bottom: 3em;
    label[for=bs_input], [for=min], [for=id_max_date]{
        display: block;
        margin-bottom: 0.2em;
        background: none;
        color: $white;
        text-align: left;
        padding:0;
    }
    label:hover[for=bs_input], [for=min]:hover, [for=id_max_date]:hover{
        color: $white;
        pointer:auto;
    }
    input{
        padding: 0.5em;
        margin: 0 0 1em 0;
        font-family: 'EB_Garamond', serif;
        display: block !important;
        width:100%;
        font-size: 1em;
    }
    input[type=reset]{
        color: lighten($primary-color, 50%);
        font-family: 'EB_Garamond', serif;
        text-align: center;
        width:100%;
        background: $primary-color;
        padding:0;
        margin:0;
        &:hover{
            text-decoration: underline;
        }
    }
    fieldset{
        width: 56%;
        display: inline-block;
        margin: 0 2% 2em 2%;

        &:last-child{
            width: 35%;
            vertical-align: bottom;
        }
        a{
            color: lighten($primary-color,50%);
            text-align: center;
            display: block;
            text-decoration: underline;
            &:hover{
                color: white;
            }
        }
    }
    #mode{
        input{
            width:10%;
            display: inline-block;
        }
        label{
            width:80%;
            display: inline-block;
        }
    }
    button{
        width:100%;
        padding: 1rem;
        font-family: 'EB_Garamond', serif;
        background: darken($primary-color,20%);
        border:1px solid darken($primary-color,20%);
        color: $white;
        font-size: 1em;
        margin-bottom: 1rem;

        &:hover{ 
            background: lighten($primary-color,20%);
            border:1px solid lighten($primary-color,20%);
            color: $white;
        }
    }

    #date_range{
        span{
            width: 35%;
            display: inline-block;
            &:last-child{
                float: right;
            }
        }

        input{
            width: 100%;
        }
    }
}

// Pagination

ul.pagination {
    text-align: right !important;
    width:49% !important;
    float:right;
    li {
        display: inline-block !important;
    }

    a {
        text-decoration: none;
        &.active,
        &:hover:not(.active) {
            text-decoration: underline;
        }
    }
}


.results-nav{
    font-family: 'EB_Garamond', serif;
    padding-top:1em;
    p{
        width:49%;
        display: inline-block;
        margin: 0
    }
    ul{
        width:50%;
        display: inline-block;

    }
}
// Slider

.g-ranger {
  background-color: lighten($primary-color, 55%);
  display: block;
  height: 10px;
  position: relative;

  .slider {
      background-color: lighten($primary-color, 10%);
      border: 1px solid #fff;
      cursor: pointer;
      display: block;
      height: 16px;
      left: 0;
      margin-top: -3px;
      margin-left: -3px;
      position: absolute;
      top: 0;
      width: 16px;
      z-index: 100;
    }
}


.dateRangeInfo{
    position: relative;
    height: 30px;
    margin-top: 60px;
}
.dateRangeInfo label{
    position: absolute;
    top: -30px;
    left: 10px;
}                            /* moves label field */
.dateRangeInfo #id_min_date{
    top: -40px;
    position: absolute;
    left: 100px;
}       /* moves first input field */
.dateRangeInfo #id_max_date{
    top: -40px;
    position: absolute;
    left: 170px;
}      /* move second input field */
.dateRangeInfo div.ui-slider{
    position: absolute;
}                   /* move both sliders - adressing 1st slider with CSS is hard */
.dateRangeInfo div:last-child{
    position: absolute;
    left: 0px;
}

// Table
table{
    width:100%;
    color: $gray;
}

td,
th {
    padding: 7px 8px;
}

th {
    background: $primary-color;
    color: $white;
    font-weight: normal;
    text-align: left;

    a {
        color: $white;
    }
}

tr{
    background: lighten($gray,57%);
}

/* TO: Delete if not needed
tr:nth-child(odd) {
    background: lighten($gray,57%);
}

tr:nth-child(even) {
    background: lighten($gray,57%);
}*/

// Tooltips

 /* Tooltip container */
.tooltip {
    display: inline-block;
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    background-color: lighten($primary-color, 65%);
    color: $black;
    font-size: .875em;
    line-height: 1.25;
    padding: 8px;
    visibility: hidden;
    width: 180px;
    /* Position the tooltip text */
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    content: "";
    left: 40%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
} 

// Map
#map{
    margin: 0!important;
}

// Tabs

#tabs{
    font-family: 'EB_Garamond', serif;

    >input, section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    >section{
        border: 1px solid lighten($gray,48%);
        width:100%;
        &.pseudo-tabcontent{
            float: left;
            ul {
                width: 100%;
                text-align: left;
                margin: 0;
                >li{
                    padding:8px;
                    display: block;
                }
            }
            h2{
                float:none;
            }
        }
        h4{
            display: inline-block;
            width:50%;
            text-align: left;
            color: $black;
        }
        ul {
            padding-left:0;
            display: inline-block;
            width:49%;
            text-align: right;
            color: $black;
        }

        li{
            list-style-type: none;
            display: inline;

                &:nth-child(-n+2){
                padding-right:16px;
                }
                &:nth-last-child(-n+2){
                padding-left:16px;
                }

            }
        
    }
    label {
        display: inline-block;
        margin: 4px 0 0 0;
        text-align: center;
        color: $gray;
        padding: 10px 20px;
        background: lighten($gray,48%);
        span{
            font-size:0.8em;
        }
        &:hover{
            background: lighten($gray,10%);
            color: $white;
 
        }
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5,
    #tab6:checked ~ #content6,
    #tab7:checked ~ #content7,
    #tab8:checked ~ #content8,
    #tab9:checked ~ #content9,
    #tab10:checked ~ #content10,
    #tab11:checked ~ #content11,
    #tab12:checked ~ #content12   {
      display: block;
      padding: 20px;
      background: #fff;
      color: $gray;
    }

    [id^="tab"]:checked + label {
      color: $white;
      background: $primary-color;
      a{
        color: $white;
      }
    }
}

#pseudo-tabs{
    font-family: 'EB_Garamond', serif;
    float: left;
    width: 100%;
    margin-bottom: 3em;
    >input, section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    >section{
        border: 1px solid lighten($gray,48%);
        width:100%;
        &.pseudo-tabcontent{
            float: left;
            ul {
                width: 100%;
                text-align: left;
                margin: 0;
                >li{
                    padding:8px;
                    display: block;
                }
            }
            h2{
                float:none;
            }
        }

        h4{
            display: inline-block;
            width:50%;
            text-align: left;
            color: $black;
        }
        ul {
            padding-left:0;
            display: inline-block;
            width:49%;
            text-align: right;
            color: $black;
        }

        li{
            list-style-type: none;
            display: inline;

                &:nth-child(-n+2){
                padding-right:16px;
                }
                &:nth-last-child(-n+2){
                padding-left:16px;
                }

            }
        
    }
    label {
        display: inline-block;
        margin: 4px 0 0 0;
        text-align: center;
        color: $gray;
        background: lighten($gray,48%);

        a{
          padding: 10px 20px;
          display: block;
          text-decoration: none;
        }

        span{
            font-size:0.8em;
        }

        &:hover{
            background: lighten($gray,10%);
            a{
                color: $white;
            }
        }
    }

    #tab1:checked ~ #content,
    #tab2:checked ~ #content,
    #tab3:checked ~ #content,
    #tab4:checked ~ #content{
      display: block;
      padding: 20px;
      background: #fff;
      color: $gray;
    }

    [id^="tab"]:checked + label {
      color: $white;
      background: $primary-color;
      a{
        color: $white;
      }
    }
}


/* Facets */
// Selected
#selected-facets{
    padding:0.5em;
    border:1px solid lighten($gray,48%);
    h4{
        margin:0;
        padding:0.2em 0;
        text-align: center;  
    }
    h5{
        font-size:1em;
        text-align: center;
        display: block;
        margin:0 0 1em 0;
        color: $primary-color;
        padding:0;
        &:hover{
            opacity: 0.7;
            text-decoration: underline;
        }
    }
    ul{
        margin: 0 0 0 -40px;
        font-size:0.9em;
        >li{

            list-style-type: none;
            margin: 1em 0;
            padding:0 !important;
            span{
                background: $primary-color;
                color: $white;
                padding:0.5em;
                width: 90%;
                display: inline-block;
            }
            a{
                color: $primary-color;
                width: 1.6em;
                height: 1.6em;
                display: inline-block;
                text-align: center;
                &:hover{
                    opacity: 0.7;
                    text-decoration: none;
                }
            }
        }
    }
    
}

// Sidebar
.facet-sidebar {
    float: left;
    padding-right: 16px;
    width: 25%;
    foont-size:1.1rem;
    .active {
        font-weight: bold;
    }

    ul#accordion{
        list-style-type: none;
        margin-left: -80px;
        
        >li{
            background: lighten($gray,57%);
            margin:1em 0;
            &:first-child{
                margin-top:0;
            }
            h4{
                margin:0 0 0.5em 0;
            }
            >ul{
                background: $white;
                padding:0.5em 0.3em;
                >li{
                    padding:0;
                    >h5{
                        margin: 0.2em 0;
                        font-size: 1em;
                        strong{
                            font-weight: normal; 
                        }
                        a:hover{
                            text-decoration: none;
                            color:$black;
                        }
                    }

                    .text-box,.clear-icon,.text-filter {
                        position: relative;
                    }
                    .text-filter {
                        margin: auto;
                        padding:8px;
                        background: lighten($gray,47%);
                        //border:1px solid $primary-color;
                        //color: $white;
                        padding:4px;
                        font-size: 0.9em;
                        margin: 0.3em 0;
                        display: block;
                        input{
                            font-family: 'EB_Garamond', serif;
                            color: $gray;
                            padding: 0 0 0 0.2em;
                        }
                    }
                    .text-box {
                      outline: 0;
                      width:70%;
                      font-size: 1.1em;
                      padding:0.2rem 0.5rem;
                    }
                    .text-box:focus {
                        border: 1px solid lighten($primary-color,40%);
                        font-size: 1.1em;
                    }
                    .clear-icon {
                        border:1px solid transparent;
                        background-color: transparent;
                        position:absolute;
                        cursor: pointer;
                        right:0.5em;
                        padding:0.3em 0.5em 0 0;
                    }
                    .clear-icon:after {
                        content: "✖";
                        color: $primary-color;
                    }
                    .text-box:not(:valid) ~ .clear-icon {
                        display: none;
                    }
                    ul{
                        li{
                            font-size: 0.9em;
                            padding:0.5rem;
                            background: lighten($gray,57%);
                            margin:0.2rem 0;
                            a{
                                color: $gray;
                                text-decoration: none;
                                display: block;
                            }
                            &:hover{
                                background: lighten($gray,47%);
                                a{
                                    color: $black;
                                }
                            }
                            .active{
                                background: $primary-color;
                                a{
                                    color: $white;
                                }
                            }
                        }
                        &.u.u1{
                            height: 300px;
                            overflow: scroll;
                        }
                    }
                }
            }
        }
    }

}

.facet-group,
.facets-list {
    list-style: none;
    li {
        p:first-letter {
            text-transform: uppercase;
        }
    }
}

.facet-group-name {
    cursor: pointer;
}

#facets{
    ul.menu{
        >li{
            padding:0;
            margin:0;

            h2{
                padding:0;
                margin:0.8em 0 0.2em 0;
            }
        }

    }
}
ul.active_facets{
    list-style-type: none;
    background: #f1f1f1;
    >li{
        display: inline-block;
        background: $primary-color;
        margin: 1em 20px 1em -20px;
        padding: 0.5em;
        color: $white;
        font-family: 'EB_Garamond', serif;
        border:1px solid $primary-color;
        h3{
            //display: inline-block;
            margin: 0 0 0.3em 0;
        }

        span{
            a{
                color: $white;
            }
        }
        &:hover{
            border:1px solid lighten($gray,20%);
            background: lighten($primary-color, 65%);
            color: $primary-color;

            a{
                color: $primary-color;
            }
        }
    }
}

/* Homepage */
#homepage{
    width:100%;
    font-size: 1.1rem;
    margin-top: 2rem;
    figure{
        margin:0; 
        width:45%;
        margin-right:5%;
        float:left;
        position: relative;
        img{
            width:100%;
            height:auto;
        }
        figcaption{
            position: absolute;
            bottom:3%;
            background:rgba(0,0,0,0.4);
            color:darken($white,15%);
            padding:8px;
            font-size:0.8rem;
            a{
                color:darken($white,15%);
                text-decoration: underline;
                &:hover{
                    color:lighten($primary-color,30%);
                }
            }
        }
    }
    section{
        width:50%;
        float:left;
        h3{
            margin:0;
            font-size: 1.5rem;
        }
        p{
            text-align: justify;
        }
    }
    #explore{
        width:100%;
        display:block;
        float:left;
        margin:5rem 0 7rem;
        h2{
            font-size: 1.3rem;
            margin: 3rem 0 5rem 0;
            text-align: center;
            line-height: 1.7;
            border-bottom:1px solid lighten($gray,20%);
            border-top:1px solid lighten($gray,20%);
            float:none;
        }
        h3{
            font-size: 1.3rem;
        }
        ul{
            list-style-type: none;
            margin-left:-40px;

            li{
                width:23%;
                float: left;
                margin-right:2%;
                text-align: center;

                a{
                    img{
                        width: 100px;
                        height: 100px;
                    }

                .content{
                    width:100%;
                    float: left;
                    h4{
                        margin: 0.5rem 0 0 0;
                        font-size: 1.1rem;
                        
                    }
                    p{
                        margin:0.5rem 0;
                    }
                }

                    &:hover{
                        opacity: 0.7;
                        h4{
                           text-decoration: underline;
                        }
                    }
                }

            }
        }
    }

}


/* Footer */

footer{
    border-top: 3px solid $primary-color;
    float:left;
    width:100%;
    padding: 2%;
    text-align: center;
    .logos{
        a{ 
            img{
                height:4rem;
                display: inline-block;
                padding:0 1%;
                text-decoration: none;
                background: $white;
                &:hover{
                    opacity: 0.7;
                }
            }
            &:hover{
                 text-decoration: none;
            }
        }  
    }
    p{
        margin: 2% 0 0 0;
        font-size: 0.8rem;
        color: $gray;
    }
}

/* Import FontAwesome */
@import '../fonts/FontAwesome/scss/fontawesome.scss';