{% extends "admin/base_site.html" %} 

{% load extrafilters %}



{% block title %}List of 'orphan' possessions{% endblock %} 

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/db/admin/pomsapp/">Back to the admin</a></div>{% endblock %}

{# I disabled this block cause it was giving bad paths for the login/out URLs #}
{% block userlinks %}From here you can see all the Possessions and Privileges that are not related to any factoid{% endblock %}


{% block content %} 
<div id="content-main"> 
	<h1>List of Possessions and Privileges that are not related to any factoid</h1> 
	
	<div class="module">

	{% if list %}
	
	{# {% regroup list by user as user_list %} #}
		
	
	<ul>
		
		<table id="change-history">
	        <thead>
		        <tr>
		            <th scope="col">Item id</th>
		            <th scope="col">Item name</th>
		            <th scope="col">Ancestors</th>
		        </tr>
	        </thead>
	        
			<tbody>
				
				
				{% for item in list %}
	
	    {# <br /><p><h2>{{ usr.grouper }}</h2></p><br /> #}
	    
		        <tr class="{% cycle 'row1' 'row2' %}">
		            <td>{{ item.id }}</td>
		            <td><a href="{{item.get_admin_url}}" target="_blank" title="edit">{{ item.name }}</a></td>
		            <td>{{ item.show_ancestors_tree|safe }}</td>
		        </tr>
		
	        	{% endfor %}
	
	        </tbody>
	
	    </table>

	</ul>
	
	
	
	{% else %}
	    <p>There is no record to display - well done you've connected all Possessions and Privileges! A cup of tea is well deserved :-)</p>
	{% endif %}
	</div>	
	
</div> 
{% endblock %}