{% load extrafilters %}
	
	{% block contents %}
	
	<style>
	.ui-map {
		min-width:800px !important;
		max-height:600px !important;
		min-height:600px !important;
	}
	</style>
		
		<div id="map" style="width:100%;height:550px;">
								
		</div>

	<script>
    
    var minX,minY,maxX,maxY

	markerStyles = {'transaction': {'color':'blue','start':1,'stop':179},
					'possession':{'color':'red','start':181,'stop':359},
					'title/occupation':{'color':'red'},
					'other':{'color':'yellow'},
					'M':{'color':'blue','start':1,'stop':89},
					'F':{'color':'pink','start':91,'stop':179},
					'Institution':{'color':'green','start':181,'stop':269},
                    'M/F':{'color':'purple','start':271,'stop':359},
                    'Sources':{'color':'red','start':1,'stop':315},					
                    'Place':{'color':'blue','start':1,'stop':359},					
				}
				;
	markerArray = [];

	// Add a couple of funtions required for marker clustering to the extended circle marker

	L.newCircleMarker = L.CircleMarker.extend({
		setZIndexOffset: function (offset) {
			this.options.zIndexOffset = offset;
			this.update();
			return this;
		},
		update: function () {
			if (this._icon) {
				var pos = this._map.latLngToLayerPoint(this._latlng).round();
				this._setPos(pos);
			}
		return this;
		}
	});


	$('#map').ready(function(){
		map = new L.map('map',{center: [51.505, -0.09],zoom: 13});	
                layer = new L.TileLayer('http://{s}.tiles.mapbox.com/v3/isawnyu.map-knmctlkh/{z}/{x}/{y}.png',
		        {attribution:'Map base by <a href="http://awmc.unc.edu/">AWMC</a>'})//.addTo(map);
        modern  = new L.TileLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}").addTo(map)

        switcher = new L.control.layers({'Modern':modern,'Topography':layer},{}).addTo(map);

		oms = new OverlappingMarkerSpiderfier(map,{keepSpiderfied:true});
		// Store all unique latlngs in an Array so we can have inactive point markers indicating the centre
		markerCentreArray = []		
		
		for (r in geoArray){


        
			// deal with each type of record - Factoids first
			if (geoArray[r].record_type=="Factoids") {
				for (p in geoArray[r].places){
					if ( markerCentreArray.indexOf(String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								))==-1)
						{	
							markerCentreArray.push(
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								)
							);
						}
							
					var m = new L.newCircleMarker( 
							[ parseFloat(geoArray[r].places[p].coordinates.split(',')[0]),
							parseFloat(geoArray[r].places[p].coordinates.split(',')[1])]
							,{	fillColor:markerStyles[geoArray[r].type].color  ,
								radius:7,
								fillOpacity:1,
								color:'black',//markerStyles[geoArray[r].type].color,
								weight:1,
								opacity:0.9,
								'name':geoArray[r].places[p].name,
								'type':geoArray[r].type,
								'db_id':geoArray[r].db_id,
								startAngle:markerStyles[geoArray[r].type].start,
								stopAngle:markerStyles[geoArray[r].type].stop
							});
					m.bindPopup(
					'<table class="simple headersX"><tbody>' +
					'<tr><th colspan="2">'+ m.options.name +'</th></tr>' +
                    '<tr><th colspan="2">' + geoArray[r].type + '</th></tr>' +
					'<tr><th colspan="2">' + geoArray[r].source + '</th></tr>' +
					'<tr><th colspan="2">' + geoArray[r].desc + '</th></tr>' +				
					'<tr><th>Name</th><th>Role</th></tr>'
					+ getPeopleRows(geoArray[r].people) + 
					'</tbody></table>'
					);
					map.addLayer(m);
					oms.addMarker(m);
					if (r==0){
						minX = m.getLatLng().lng;
						minY = m.getLatLng().lat;
						maxX = m.getLatLng().lng;
						maxY = m.getLatLng().lat;
					};
					if (m.getLatLng().lng <=  minX ){
						minX = m.getLatLng().lng;
					}
					else {
						maxX = m.getLatLng().lng;
					}
                    if (m.getLatLng().lat <=  minY ){
                        minY = m.getLatLng().lat;
                    }
                    else {
                        maxY = m.getLatLng().lat;
                    }
				}; 
			} // End if Factoids type
			/* To do - deal with people types  .... {} */
			if (geoArray[r].record_type=="Person or institution") {
                
				for (p in geoArray[r].places){
					if ( markerCentreArray.indexOf(String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								))==-1)
						{	
							markerCentreArray.push(
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								)
							);
						}
							
					var m = new L.newCircleMarker( 
							[ parseFloat(geoArray[r].places[p].coordinates.split(',')[0]),
							parseFloat(geoArray[r].places[p].coordinates.split(',')[1])]
							,{	fillColor:markerStyles[geoArray[r].type].color  ,
								radius:7,
								fillOpacity:1,
								color:'black',//markerStyles[geoArray[r].type].color,
								weight:1,
								opacity:0.9,
								'name':geoArray[r].places[p].name,
								'type':geoArray[r].type,
								'db_id':geoArray[r].db_id,
								startAngle:markerStyles[geoArray[r].type].start,
								stopAngle:markerStyles[geoArray[r].type].stop
							});
					m.bindPopup(
					'<table class="simple headersX"><tbody>' +
                    '<tr><th colspan="2"><a href="/record/person/'+ geoArray[r].db_id +'">' + geoArray[r].name + '</a></th></tr>' +
					'<tr><th colspan="2"><a href="/record/place/' + geoArray[r].places[0]["id"] + ' ">' + m.options.name + '</a></th></tr>'	+
					'</tbody></table>'
					);
					map.addLayer(m);
					oms.addMarker(m);
                    console.log(p)
					if (r==0){
						minX = m.getLatLng().lng;
						minY = m.getLatLng().lat;
						maxX = m.getLatLng().lng;
						maxY = m.getLatLng().lat;
					};
					if (m.getLatLng().lng <=  minX ){
						minX = m.getLatLng().lng;
					}
					else {
						maxX = m.getLatLng().lng;
					}
                    if (m.getLatLng().lat <=  minY ){
                        minY = m.getLatLng().lat;
                    }
                    else {
                        maxY = m.getLatLng().lat;
                    }
				};
			} // End if Person type
			
			if (geoArray[r].record_type=="Source") {
				for (p in geoArray[r].places){
					if ( markerCentreArray.indexOf(String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								))==-1)
						{	
							markerCentreArray.push(
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								)
							);
						}
							
					var m = new L.newCircleMarker( 
							[ parseFloat(geoArray[r].places[p].coordinates.split(',')[0]),
							parseFloat(geoArray[r].places[p].coordinates.split(',')[1])]
							,{	fillColor:markerStyles[geoArray[r].type].color  ,
								radius:7,
								fillOpacity:1,
								color:'black',//markerStyles[geoArray[r].type].color,
								weight:1,
								opacity:0.9,
								'name':geoArray[r].places[p].name,
								'type':geoArray[r].type,
								'db_id':geoArray[r].db_id,
							});
					m.bindPopup(
					'<table class="simple headersX"><tbody>' +
					'<tr><th colspan="2"><strong>'+ m.options.name +'</strong></th></tr>' +
                    '<tr><th colspan="2">' + geoArray[r].type + '</th></tr>' +
					'<tr><th colspan="2"><a href="/record/source/' + geoArray[r].source_id  + '">' + geoArray[r].source + '</a></th></tr>' /* +
					'<tr><th colspan="2">' + geoArray[r].desc + '</th></tr>' */				
					);
					map.addLayer(m);
					oms.addMarker(m);
					
					if (r==0){

						minX = m.getLatLng().lng;
						minY = m.getLatLng().lat;
						maxX = m.getLatLng().lng;
						maxY = m.getLatLng().lat;
					};
					if (m.getLatLng().lng <=  minX ){
						minX = m.getLatLng().lng;
					}
					else {
						maxX = m.getLatLng().lng;
					}
                    if (m.getLatLng().lat <=  minY ){
                        minY = m.getLatLng().lat;
                    }
                    else {
                        maxY = m.getLatLng().lat;
                    }
				};
			} // End if Sources type
			
            
			if (geoArray[r].record_type=="Place") {
                
				for (p in geoArray[r].places){
					if ( markerCentreArray.indexOf(String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								))==-1)
						{	
							markerCentreArray.push(
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[0]) )
								+ ',' +
								String(
								parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
								)
							);
						}
							
					var m = new L.newCircleMarker( 
							[ parseFloat(geoArray[r].places[p].coordinates.split(',')[0]),
							parseFloat(geoArray[r].places[p].coordinates.split(',')[1])]
							,{	fillColor:markerStyles[geoArray[r].type].color  ,
								radius:7,
								fillOpacity:1,
								color:'black',//markerStyles[geoArray[r].type].color,
								weight:1,
								opacity:0.9,
								'name':geoArray[r].places[p].name,
								'type':geoArray[r].type,
								'db_id':geoArray[r].db_id,
							});
					m.bindPopup(
					'<table class="simple headersX"><tbody>' +
					'<tr><th colspan="2"><a href="/record/place/' + m.options.db_id + '">'+ m.options.name +'</a></th></tr>'
					); 
					map.addLayer(m);
					oms.addMarker(m);
					
					if (r==0){

						minX = m.getLatLng().lng;
						minY = m.getLatLng().lat;
						maxX = m.getLatLng().lng;
						maxY = m.getLatLng().lat;
					};
					if (m.getLatLng().lng <=  minX ){
						minX = m.getLatLng().lng;
					}
					else {
						maxX = m.getLatLng().lng;
					}
                    if (m.getLatLng().lat <=  minY ){
                        minY = m.getLatLng().lat;
                    }
                    else {
                        maxY = m.getLatLng().lat;
                    }
				};
			} // End if Sources type			

		};

		// Use markerCentreArray values to create centre markers:
		for (cms in markerCentreArray){
			var cm = new L.CircleMarker(
				[parseFloat(markerCentreArray[cms].split(',')[0]),
				 parseFloat(markerCentreArray[cms].split(',')[1])],
				{	fillColor:'gray',
					radius:9,
					fillOpacity:0,
					color:'black',
					weight:1,
					opacity:0.85,
					clickable:false,
				})
			.addTo(map);
		};		
		
		
		var ll = new L.LatLng(minY,minX);
                var ur = new L.LatLng(maxY,maxX);
		var b = new L.LatLngBounds(ll,ur);
		map.fitBounds(b);
		
		markerArray = oms.markers;
		
		setHoverEvent();

	});
	
	function getPeopleRows(peeps){
		var str = "";
		for (p in peeps){
			str += '<tr><td><a href="/record/person/'+ peeps[p].id +'">'+ peeps[p].name +'</a></td><td>'+ peeps[p].role + '</td></tr>'
		}
		return str;
	};


	
	function setHoverEvent(){
			for (var m in markerArray){
                    markerArray[m].on('mouseover',highlight);
                    markerArray[m].on('mouseout',lowlight);

			}
	}
	

	
	function highlight(e){
		for (mk in oms.markers){
			if (e.target.options.db_id==oms.markers[mk].options.db_id){
				oms.markers[mk].setRadius(10);
			}
		}
	}
	
	function lowlight(e){
		for (mk in oms.markers){
			if (e.target.options.db_id==oms.markers[mk].options.db_id){
				oms.markers[mk].setRadius(7);
			}
		}
	}
	</script>


	{% endblock %}
	
	
