{% load compress staticfiles pomsapp_wagtail_tags wagtailcore_tags %}
<footer>
  <div class="logos">
    <a href="https://ahrc.ukri.org">
      <img src="{% static 'images/ahrc-logo.png' %}" alt="Arts and Humanities Research Council">
    </a>
    <a href="https://ahrc.ukri.org">
      <img src="{% static 'images/KCL-logo-blackbg.svg' %}" alt="King's College London">
    </a>
    <a href="https://ahrc.ukri.org">
      <img src="{% static 'images/cch-logo.jpg' %}" alt="Centre for Computing in the Humanities">
    </a>
    <a href="https://ahrc.ukri.org">
      <img src="{% static 'images/UoG-logo.png' %}" alt="University of Glasgow">
    </a>
    <a href="https://ahrc.ukri.org">
      <img src="{% static 'images/UoE-logo.jpg' %}" alt="University of Edinburgh">
    </a>
  </div>
  <p>Developed and maintained by <a href="//www.kdl.kcl.ac.uk/" title="King's Digital Lab">King's Digital Lab</a>
</footer>