{% load staticfiles wagtailcore_tags pomsapp_wagtail_tags%}

<nav class="primary-nav">
  <ul>
    {% comment %}
    TODO: add class="active" when the url of the current page matches the menu item
    {% endcomment %}

  <li {% if current_page == root %} class="active"{% endif %}>
        <a href="{% pageurl root %}">{{ root.title }}</a>
    </li>

    {% for page in menu_pages %}
    <li {% if request.path|startswith:page.url %} class="active"{% endif %}>
        <a href="{% pageurl page %}">{{ page.title }}</a>
    </li>
    {% endfor %}

  </ul>
</nav>