{% load extrafilters %}

{% if person.assocfactoidperson_set.all %}

<b>Person associated to factoids: {{person.assocfactoidperson_set.all.count}} in total (only the latest 30 are shown below)</b><hr></br />

	<table>
	  <tr>
	    <th>Record ID</th>
		<th>Type</th>
	    <th>Short Summary</th>
		<th>Role</th>
	    <th>Source</th>
	    <th>Last updated</th>
	  </tr>

	{% for a in person.assocfactoidperson_set.all|latest_updated|slice:":30" %}
	  <tr>
	    <td>{{a.factoid.id}}</td>
		<td>{{a.factoid.get_right_subclass.0}}&#160;&#160;&#160;&#160;</td>
	    <td><a href="{% url factoid_detail a.factoid.id %}" title="click to show">{{a.factoid}}</a></td>
	    <td>{{a.role}}</td>
	    <td><a href="{% url source_detail a.factoid.sourcekey.id %}" title="click to show">{{a.factoid.sourcekey}}</a></td>
	    <td>{{a.updated_at}}</td>
	  </tr>
	{% endfor %}

	</table>
	
	<br /><hr><hr><br />
{% endif %}	