{% load extrafilters %}

{% if person.assocfactoidwitness_set.all %} 

	<b>Person being a witness in factoids: {{person.assocfactoidwitness_set.all.count}} in total (only the latest 30 are shown below)</b><hr><hr>

	<table>
	  <tr>
	    <th>Record ID</th>
		<th>Type</th>
	    <th>Short Summary</th>
		<th>Role</th>
	    <th>Source</th>
		<th>Last updated</th>
	  </tr>


	{% for a in person.assocfactoidwitness_set.all|latest_updated|slice:":30" %}
	  <tr>
	    <td>{{a.factoid.id}}</td>
		<td>{{a.factoid.get_right_subclass.0}}</td>
	    <td><a href="{% url factoid_detail a.factoid.id %}" title="click to show">{{a.factoid}}</a></td>
	    <td>{{a.role}}</td>
	    <td><a href="{% url source_detail a.factoid.sourcekey.id %}" title="click to show">{{a.factoid.sourcekey}}</a></td>
		<td>{{a.updated_at}}</td>
	  </tr>
	{% endfor %}


	</table>

	<br /><hr><br />
	
{% endif %}