{% extends "labs/highcharts/base.html" %}

		
{% block custom_scripts %}
	
	
	<!-- 2. Add the JavaScript to initialize the chart on document ready -->
	<script type="text/javascript">
	
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container', 
					defaultSeriesType: 'scatter',
					zoomType: 'xy'
				},
				title: {
					text: '{{SCATTER_TITLE}}'
				},
				subtitle: {
					text: '{{SCATTER_SUBTITLE}}'
				},
				xAxis: {
					title: {
						enabled: true,
						text: '{{SCATTER_xAxis_TITLE}}'
					},
					startOnTick: true,
					endOnTick: true,
					showLastLabel: true
				},
				yAxis: {
					title: {
						text: '{{SCATTER_yAxis_TITLE}}'
					}
				},
				tooltip: {
					formatter: function() {
			                return ''+
							this.x +' {{SCATTER_xAxis_VAL}}, '+ this.y +' {{SCATTER_yAxis_VAL}}' + '{{SCATTER_TOOLTIP_EXTRA}}';
					}
				},
				legend: {
					layout: 'vertical',
					align: 'left',
					verticalAlign: 'top',
					x: 700,
					y: 70,
					floating: true,
					backgroundColor: '#FFFFFF',
					borderWidth: 1
				},
				plotOptions: {
					scatter: {
						marker: {
							radius: 5,
							states: {
								hover: {
									enabled: true,
									lineColor: 'rgb(100,100,100)'
								}
							}
						},
						states: {
							hover: {
								marker: {
									enabled: false
								}
							}
						}
					}
				},
				point: {
					events : {
						click: {
							formatter: function() {
					                return alert(this.name) ;
							}
							
						}
					} 
				},
				series: {{series_data|safe}}
			
				
			});
			
			
		});
			
	</script>
	
	
{% endblock %}


{% block body %}

<!-- 3. Add the container -->
<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>

	
{% endblock %}
		
		
