{% load extrafilters %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>

	
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}labs/css/jqeasypanel.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}labs/css/navbar.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}labs/css/jquery.qtip.min.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}labs/js/jquery1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}labs/js/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}labs/js/jquery.jqEasyPanel.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}labs/js/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}labs/js/highcharts/modules/exporting.js"></script>
	{# autocomplete stuff #}
	<script type="text/javascript" src="{{ STATIC_URL }}autocomplete2/js/jquery-ui-1.8.17.custom.min.js"></script>
	<link href="{{ STATIC_URL }}autocomplete2/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" media="screen">

	<style>
		
		/*ovverride*/
		#googletab {
			margin-bottom: 30px;
		}
		
		.ui-tooltip, .qtip{
			min-width: 750px;
			max-width: 1000px;
		}

		.ui-tooltip-bootstrap .ui-tooltip-titlebar {
			font-size: 14px; font-weight: bold; background: #294C81; color: #fff;
		}
		

		.ui-tooltip a {
			color: black;
		}

		body {
			font-size:13px;
			color:black;	
		}

		#footer {
			float: left;
		}

		#info {
			padding: 50px 5px 0px 70px;
			width: 300px;
			float: left;
			font-size: 16px;
			color: darkslategrey;
		}

		#persons {
			padding: 50px 5px 0px 70px;
			width: 400px;
			margin-left: 400px;
		}

		#clickinfo {
			overflow: auto;
			height: 300px;
			padding: 16px 10px 10px 10px;
			border: 1px solid black;
			line-height: 22px;
			font-size: 14px;
		}
		
		
	
	</style>
	
	<script> 
	
	function update_infobox(agenttype, age) {
		$("#agent_type").html(agenttype); 
		$("#age_n").html("<span style='color: blue;'>" + age + "</span>"); 
		$("#clickinfo").html("<span style='color: red;'>Loading....</span>");
		$.get("ajax/iteminfo", { agenttype: agenttype, age: age }, function(data){		
			$("#clickinfo").html(data);
			qtip_preview();
		});						
	}



	function qtip_preview() {
		// LINK for the person info
		$('#clickinfo a').each(function(){
			$(this).qtip({
				content: {
					text: '<img height="20" src="{{ STATIC_URL }}labs/img/loading.gif" alt="Loading..." />',
					ajax: {
						url: $(this).attr('name') // Use the name attribute of each element for the url to load
					},
					title: {
						// Give the tooltip box a title 
						// text: $(this).attr('title'), 
						text: "Record preview (<a href='" + $(this).attr('href') + "#'>show full record</a> | <a target='_blank' href='" + $(this).attr('href') + "#'>new tab</a>)", 
						button: true
					}
				},
				// style: {
				// 	// classes: 'ui-tooltip-bootstrap ui-tooltip-shadow' ,
				// 	width: 700,
				// },

				show: {
					// event: 'mouseenter',
					// delay: 100,
					event: 'click',
					// delay: 10,
					solo: true // Only show one tooltip at a time
				},

				position: {
					my: 'center', // ...at the center of the viewport
					at: 'center',
					target: $(window),
							},	

				hide: 'unfocus',
				})
			})	
		// Make sure it doesn't follow the link when we click it
		.click(function(event) { event.preventDefault(); });
	}


	var chart;
	
	$(document).ready(function() {
			
		// topPanel	
		$('#jqeasypanel').jqEasyPanel({height: '300px'});		
		

		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'container', 
				defaultSeriesType: 'scatter',
				zoomType: 'xy'
			},
			title: {
				text: '{{SCATTER_TITLE}}'
			},
			subtitle: {
				text: '{{SCATTER_SUBTITLE}}'
			},
			xAxis: {
				title: {
					enabled: true,
					text: '{{SCATTER_xAxis_TITLE}}'
				},
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true
			},
			yAxis: {
				title: {
					text: '{{SCATTER_yAxis_TITLE}}'
				}
			},
			tooltip: {
				formatter: function() {
		                return ''+
						this.x +' ' + this.series.name + ' with ' + this.y + ' {{SCATTER_yAxis_VAL}}, ' + '{{SCATTER_TOOLTIP_EXTRA}}';
				}
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				verticalAlign: 'top',
				x: 700,
				y: 120,
				floating: true,
				backgroundColor: '#FFFFFF',
				borderWidth: 1
			},
			plotOptions: {
				series: {
	                cursor: 'pointer',
					point: {
						events: {
							'click': function() {
								update_infobox(this.series.name, this.y);
							}
						}
					}
				},
				scatter: {
					marker: {
						radius: 5,
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)'
							}
						}
					},
					states: {
						hover: {
							marker: {
								enabled: false
							}
						}
					}
				},
	            
			},
			series: {{series_data|safe}}
			
		});
		

	// 	final parenthesis
	});
	
	
	
	</script>



	<title>People's active years chart</title>

</head>

<body>




	{% include "labs/components/snippet_jqeasypanel.html" %}
	
	
	
	
	<!-- 3. Add the container -->
	<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>


	<div id="footer">


	<div id="info">
		<h2>Key:</h2>
		<li>Age is calculated by subtracting the min floruits from the max floruit date of an agent</li>
		<li>Agents with age=0 are not displayed</li>
		<li>Select an area with the mouse in order to zoom</li>
	</div>

	<div id="persons">
		<h2><span id="agent_type">Persons/Institutions</span> with active years: <span id="age_n">...</span></h2>	
		<div id="clickinfo">
			<span style='color: red;'>Click on the chart to view relevant items here.</span>
		</div>
	</div>

	

		{# end of container #}
	</div>   


<br /><br /><br /><br />
	
</body>


</html>