{% load staticfiles %}

<nav class="primary-nav">
  <ul>
    {% comment %}
    TODO: add class="active" when the url of the current page matches the menu item
    {% endcomment %}
    <li><a href="{{ FRONTEND_URL }}">Home</a></li>
    <li><a href="{{ FRONTEND_URL }}about"> About</a></li>
    {# example of active class // Should be removed once implemented #}
    <li><a href="{{ DATABASE_URL }}" class="active">Database</a></li>
    <li><a href="{{ FRONTEND_URL }}information">Information</a></li>
    <li><a href="{{ FRONTEND_URL }}schools">Schools</a></li>
    <li><a href="{{ FRONTEND_URL }}news">News</a></li>
    <li><a href="{{ FRONTEND_URL }}contact">Contacts</a></li>
    <li><a href="http://www.poms.ac.uk/social-network-analysis/">Social Network Analysis</a></li>
    <li><a href="{{ FRONTEND_URL }}help">Help</a></li>
  </ul>
</nav>