name: 'poms_openstack'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:1.4
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    depends_on:
      nginx:
        condition: service_started

  nginx:
    build:
      context: ..
      dockerfile: ./compose/nginx/Dockerfile
    restart: unless-stopped
    expose:
      - "8001"
    volumes:
      - ../volumes/django/static:/usr/share/nginx/static:ro
      - ../volumes/django/media:/usr/share/nginx/media:ro
    env_file:
      - .env
    environment:
      VIRTUAL_HOST: ${DJANGO_ALLOWED_HOSTS}
      VIRTUAL_PATH: "~^/(media/|static/|redist/|robots.txt)"
      VIRTUAL_PROTO: http
      VIRTUAL_PORT: 8001
    depends_on:
      django:
        condition: service_started

  django:
    build:
      context: ./django
      dockerfile: ./Dockerfile
    command:
      [
        "/usr/local/bin/gunicorn",
        "poms.wsgi",
        "--bind", "0.0.0.0:8000",
        "--chdir=/app",
        "--timeout", "180",
        "--forwarded-allow-ips='*'"
      ]
    container_name: poms_liv
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ../volumes/django:/app
    expose:
      - 8000
    environment:
      VIRTUAL_HOST: ${DJANGO_ALLOWED_HOSTS}
      VIRTUAL_PATH: "/"
      VIRTUAL_PROTO: http
      VIRTUAL_PORT: 8000
    healthcheck:
      test: "cat /proc/net/tcp | grep 1F40 > /dev/null"
      interval: 3s
      timeout: 3s
      retries: 100
    depends_on:
      - db
      - elasticsearch
      - rdf
      - geoserver

  db:
    image: mysql:5.7.35
    volumes:
      - ../volumes/local_mysql_data:/var/lib/mysql
    restart: unless-stopped
    command: --max-allowed-packet=67108864
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    #      healthcheck:
    #        test: mysql --user=root --password=$$MYSQL_ROOT_PASSWORD -e 'SHOW DATABASES;'
    #        timeout: 10s
    #        interval: 5s
    #        retries: 10
    healthcheck:
      test: "mysql --user=root --password=$$MYSQL_ROOT_PASSWORD --execute='SHOW DATABASES;'"
      interval: 3s
      timeout: 3s
      retries: 100
    env_file:
      - .env

  geoserver:
    build:
      context: ../
      dockerfile: ./compose/geoserver/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ../volumes/geoserver/data:/opt/geoserver_data
    restart: unless-stopped
    environment:
      VIRTUAL_HOST: ${DJANGO_ALLOWED_HOSTS}
      VIRTUAL_PATH: "/geoserver"
      VIRTUAL_PROTO: http
      VIRTUAL_PORT: 8080
    depends_on:
      - postgis

  postgis:
    image: postgis/postgis:12-3.4
    volumes:
      - ../volumes/postgres_data:/var/lib/postgresql/data:Z
    restart: unless-stopped
    expose:
      - "5432"
    env_file:
      - .env

  elasticsearch:
    image: elasticsearch:7.10.1
    env_file:
      - .env
    expose:
      - "9200"
      - "9300"
    volumes:
      - ../volumes/elasticsearch:/usr/share/elasticsearch/data
    # restart: unless-stopped

  # Original repositories located at: /vol/poms3/webroot/rdf/repositories
  # files will be added manually to volumes on server
  rdf:
    image: tomcat:9
    restart: unless-stopped
    ports:
      - "8180:8080"
    volumes:
      #- ../volumes/tomcat/logs:/usr/local/tomcat/logs/
      - ../volumes/tomcat/webapps:/usr/local/tomcat/webapps
      - ../volumes/tomcat/rdf/repositories:/usr/local/etc/rdf4j/repositories
    environment:
      VIRTUAL_HOST: ${DJANGO_ALLOWED_HOSTS}
      VIRTUAL_PATH: "/rdf"
      VIRTUAL_PROTO: http
      VIRTUAL_PORT: 8080