{% extends "base.html" %}
{% load extrafilters pomsapp_tags pomsapp_wagtail_tags %}

{% block titlepage %}
    <title>POMS: Map</title>
{% endblock %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/mapbox.js-bower-2.2.1/mapbox.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/leaflet.draw.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/leaflet.awesome-markers.css"></link>

{% endblock %}


{% block breadcrumbs %}
    <div id="breadcrumbs">
        {% get_wagtail_page 'map' as wagtail_page %}
        {% breadcrumbs current_page=wagtail_page extra=record %}
    </div>
{% endblock %}


{% block subnav %}
{% endblock %}


{% block load_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/functions_record.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mapbox.js-bower-2.2.1/mapbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet-overlap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet.draw.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/leaflet.awesome-markers.min.js"></script>
{% endblock %}


{% block tabs_titles %}
{% endblock %}


{% block permalink %}
{% endblock %}


{% block contents %}
    <h2><a href="{% url 'search' %}{% add_facet_link querydict 'order_by' "startdate" %}">Back to results</a> </h2>
    <div>
        <div id="map" class="browse-map">
        </div>
    </div>
    {% results_map object_list index_type%}
    <script>

    </script>
{% endblock %}
