{% extends "base.html" %}
{% load wagtailcore_tags pomsapp_wagtail_tags %}

 {% block tabs_titles  %}
      <h2 class="float-left">{{ self.title }}</h2>

    {% endblock %}

{% block small_links %}
{% get_menu_pages self as menu_pages %}
    {% if title %}
    <h3>{{ title }}</h3>
    {% endif %}
    
    <ul>
    
        <li>
            <a href="/social-network-analysis/sna-bibliography/">SNA Bibliography</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/glossary-of-sna-terms/">Glossary of SNA Terms</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/relationships/">Relationships</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/royal-charters-co-witnessing-visualizations/">Royal Charter Witnesses</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/ecclesiasiastical-charter-witnesses/">Ecclesiastical Charter Witnesses</a>
        </li>
    
        <li class="active">
            <a href="/social-network-analysis/private-charter-witnesses/">Private Charter Witnesses</a>
            <ul>
    
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/earl-david-of-huntingdon-h36/">Earl David of Huntingdon (H3/6/)</a>
                </li>
            
                <li class="active">
                    <a href="/social-network-analysis/private-charter-witnesses/earls-of-dunbar-h315/">Earls of Dunbar (H3/15/)</a>
                      <ul>
                        <li>
                            <a href="/social-network-analysis/private-charter-witnesses/earl-david-of-huntingdon-h36/">SNA visualisation</a>
                        </li>
                    
                        <li>
                            <a href="/social-network-analysis/private-charter-witnesses/earls-of-dunbar-h315/">Documents</a>
                        </li>
                    </ul>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/earls-of-lennox-h317/">Earls of Lennox (H3/17/)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/earls-of-strathearn-h321/">Earls of Strathearn (H3/21/)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/lords-of-galloway-h328/">Lords of Galloway (H3/28/)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/stewart-family-h3547/">Stewart family (H3/547/)</a>
                    <ul>
                        <li>
                            <a href="/social-network-analysis/private-charter-witnesses/earl-david-of-huntingdon-h36/">SNA visualisation</a>
                        </li>
                    
                        <li>
                            <a href="/social-network-analysis/private-charter-witnesses/earls-of-dunbar-h315/">Documents</a>
                        </li>
                    </ul>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/bruce-family-charter-witnesses-h3106/">Bruce family (H3/106)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/moreville-family-h3416/">Moreville family (H3/416)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/hay-family-h3276/">Hay family (H3/276)</a>
                </li>
            
                <li>
                    <a href="/social-network-analysis/private-charter-witnesses/burgesses-of-perth-h3646/">Burgesses of Perth (H3/646/)</a>
                </li>
            
            </ul>
        </li>
    
        <li>
            <a href="/social-network-analysis/witnesses-to-all-charters/">Witnesses to all charters</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/grantors-and-beneficiaries/">Grantors and Beneficiaries</a>
        </li>
    
        <li>
            <a href="/social-network-analysis/sna-person-profiles/">SNA Person Profiles</a>
        </li>
    
    </ul>





    <ul class="{% if class %}{{ class }}{% endif %}">
    {% for page in menu_pages %}
        <li>
            <a href="{% pageurl page %}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}


{% block contents %}
<div id="wagtail-content">
    {{ self.content | richtext }}
</div>
    {% endblock %}

