{% extends "base.html" %}
{% load wagtailcore_tags %}

 {% block tabs_titles  %}
      {{ self.title }}
    {% endblock %}

{% block small_links %}
{% if pages %}

    {% if title %}
    <h3>{{ title }}</h3>
    {% endif %}

    <ul class="{% if class %}{{ class }}{% endif %}">
    {% for page in pages %}
        <li>
            <a href="{% pageurl page %}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block contents %}
    {{ self.content | richtext }}
    {% endblock %}