{% load pomsapp_tags %}
{% for facet in facets %}
    <li>
        <h5><strong>{{ facet }}</strong></h5>
        <div class="g n2 peoplegroup_surname">
            <div class="valueslist">
                <ul class="u u1">
                    {% for term in facets.fields|get_item:facet %}
                        {% with value=term.0 count=term.1 %}

                            <li>
                                <a href="{% add_facet_link querydict facet value %}">{{ value }} ({{ count }})</a>
                            </li>

                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
{% endfor %}