{% extends "pomsapp/skeleton.html" %}


{% block load_css  %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}paul/c/a.css"/>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}paul/c/s.css"/>
	<link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}paul/c/p.css"/>
	<link type="text/css" href="{{ MEDIA_URL }}css/jquery.treeview.css" rel="stylesheet" >
	{# 2010-06-30 was trying this out with the accordion... #}
	{# <link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}css/jquery-ui.css"/> #}
{% endblock %}


{% block load_js  %}

<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery.overlabel.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery.cluetip.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI2.31.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/cufon.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/functions_faceted.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.treeview.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/f/agaramondpro.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/c_faceted.js"></script>


{% endblock %}


	{% block tabs_titles  %}
		
	{% endblock %}

	{% block small_links %}
		
	{% endblock %}


	{% block permalink %}

	{% endblock %}


	{% block contents %}
  

	{% endblock %}
