{% extends "pomsapp/skeleton.html" %}

{% block load_css %}
{% endblock %}

{% block titlepage %}
    <title>Browse | {{ PROJECT_TITLE }}</title>
{% endblock %}

{% block subnav %}
{% include 'pomsapp/includes/db_navigation.html' %}
{% endblock %}

{% block tabs_titles %}
{% endblock %}

{% block small_links %}
{% endblock %}

{% block permalink %}
{% endblock %}

<div class="wrapper">
{% block contents %}
{% endblock %}
</div>

{% block load_js  %}
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery.overlabel.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/jquery.cluetip.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.blockUI2.31.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/cufon.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/functions_faceted.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.treeview.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/f/agaramondpro.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}paul/s/c_faceted.js"></script>
{% endblock %}