<br />

{% if start_page %}
{# if it is the start page, make sure you reload the results when the page has finished loading.. #}
<SCRIPT type="text/javascript">
	$(function() {
 		reload_results();
	});
 </SCRIPT>

{% else %}
	<p style="color:Brown; font-size:16px; font-style:normal;">No results... you might have accumulated inconsistent search terms. <br /><br />Try removing some search terms, or start from scratch by clicking on 'remove all'</p>
{% endif %}

<p style="color:AntiqueWhite; font-size:230px; font-style:italic;">&#8250;&#8250;
	<span style="color:AntiqueWhite; font-size:170px; font-style:italic;">DemoSite</span>
</p>