{% extends "pomsapp/browse/fb_skeleton.html" %}

{% block contents %}

{% block sidebar %}
{% endblock %}

{% block main_content %}
<div class="main">
    <div>
        <div id="facets">
            {% block controlbar %} 
            {# here the list of active facets #}
            {% endblock %}
        </div>
        <div id="results">
            {% block results %}
                {% block inner_results %}
                {# here the results of the search #}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
    <div id="search">
        {% block search %}  
        {# here the facets list #}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% endblock %}
