{# just a quick hack in order to show the entities in the DB in a more contextual manner... #}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>

	<link href="{{ STATIC_URL }}css/testrelations.css" rel="stylesheet" type="text/css" media="screen">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/my_functions.js"></script>


	<title>LTB -- beta -- relations view</title>

</head>

<body>


		<div id="logoleft">
		    	{% for x in xx %}
 				<a class="records" href="/test/view_relations_for_record/{{x}}/">{{x}}</a>&nbsp;
			   {% endfor %}


		</div>
	
		<div id="logo">
		
			<h2>{{message}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <a class="plusminus" href="{{nextpage}}">+</a>
				<a class="plusminus" href="{{previouspage}}">-</a>
			</h2>
			   


		</div>

		<div id="left">
			<h3>Source: </h3>
			{% if source %}

				   {% for name, value in source.attrs %}
					  {% if value %}
				   		<p>{{name|upper}}: <a href="#">{{value}}</a></p> 
					  {% endif %}
				   {% endfor %}

					{% else %}
					 <p>No data are available.</p>
			{% endif %}

		</div>

		<div id="middleleft">
			<h3>Transcription</h3>
			{% if transcription %}

				   {% for name, value in transcription.attrs %}
					  {% if value %}
				   		<p>{{name|upper}}: <a href="#">{{value}}</a></p> 
					  {% endif %}
				   {% endfor %}

					{% else %}
					 <p>No data are available.</p>
			{% endif %}


		</div>

		<div id="middleright">
			<h3>Event</h3>
			{% if event %}

				   {% for name, value in event.attrs %}
					  {% if value %}
				   		<p>{{name|upper}}: <a href="#">{{value}}</a></p> 
					  {% endif %}
				   {% endfor %}

					{% else %}
					 <p>No data are available.</p>
			{% endif %}

		</div>

		<div id="right">
			<h3>Record</h3>
			{% if record %}

				   {% for name, value in record.attrs %}
					  {% if value %}
				   		<p>{{name|upper}}: <a href="#">{{value}}</a></p> 
					  {% endif %}
				   {% endfor %}

					{% else %}
					 <p>No data are available.</p>
			{% endif %}

		</div>

		</body>
		</html>
