{% extends "pomsapp/record/record_base.html" %}

{% load extrafilters %}

{% block permalink %}
<ul class="utl m1">
  <li class="i1"><a href="#" title="Permanent URL for this page, which will allow you to save a bookmark"><b>Permalink: {{permalink}}</b></a></li>
</ul>
{% endblock %}



{% block contents %}


    <!-- ######################### -->
    <div class="hdp">
      <h1><span class="{{person|determineIcon}}">[{{person|determineIcon}}]</span>
		{% if user.is_staff %}
			<a href="{{person.get_admin_url}}" target="_blank" title="Welcome administrator! Click to edit this item in the data entry section.">{{person.persondisplayname}}</a>
		{% else   %}
			{{person}}
		{% endif %}
	</h1>
    </div>
    <div class="ct">
      	<dl class="m1">
	        {% if person.standardmedievalname %}
	        	<dt>Medieval Name</dt>
		        <dd>{{person.standardmedievalname|default:"&nbsp;"}}</dd>
	        {% endif %}
			{% if person.moderngaelicname %}
		        <dt>Modern Gaelic Name</dt>
		        <dd>{{person.moderngaelicname|default:"&nbsp;"}}</dd>			
			{% endif %}
				{# gender only for M, F, M/F #}
			{% if person.genderkey.id == "4" or person.genderkey.id == "3" or person.genderkey.id == "6" %}
		        <dt>Gender</dt>
		        <dd>{{person.genderkey|default:"&nbsp;"}}</dd>
			{% endif %}
	        {% if person.persondescription %}
	        	<dt>Biography</dt>
		        <dd>{{person.persondescription|poms_italic|safe|default:"&nbsp;"}}</dd>
	        {% endif %}
	        <dt>Floruits</dt>
	        <dd> {{person.nice_floruits|safe}}</dd>	
	        {% if person.relatedplace %}
	        	<dt>Related Place</dt>
		        <dd><a href="{% url 'place_detail' person.relatedplace.id  %}" title="Show details">{{person.relatedplace.name}}</a></dd>
	        {% endif %}		
			{% if person.matrix_set.all %}
			{% for m in person.matrix_set.all %}
				<dt>Matrix</dt>
		        <dd><a href="{% url 'matrix_detail' m.id %}" class="seal" title="Show Matrix/Seal info">{{m.identifier}}</a></dd>
								
			{% endfor %}
			{% endif %}
			
			
      	</dl>
		<br />
		<br />
		<br />


		<h2>Total number of associated factoids: {{ person.get_all_associations|length }}</h2>
		<br />


		<div id="tabs" class="tsb">
		    <ul class="tsn">
			
				{% if person.assocfactoidperson_set.all  %}
		        <li><a href="#fragment-1"><span>Generic factoids ({{ person.assocfactoidperson_set.all|length }}):</span></a></li>
		 		{% endif %}
		
				{% if person.assocfactoidproanima_set.all  %}
		        	<li><a href="#fragment-2"><span>Pro-Anima factoids ({{ person.assocfactoidproanima_set.all|length }}):</span></a></li>
		 		{% endif %}
		
				{% if person.assocfactoidwitness_set.all  %}
		       		<li><a href="#fragment-3"><span>Witnesses factoids ({{ person.assocfactoidwitness_set.all|length }}):</span></a></li>
		 		{% endif %}
		
		   </ul>
		
		{% if person.assocfactoidperson_set.all %}
		{# {% if person.assocfactoidperson_set.all  %} #}
			
		    <div id="fragment-1">
			

				{% block generic_factoids %}


				{# PAGINATOR  TOP: shown only when we have enough items #}
				{% if items1 %} {% with items1 as items %}
	
				    <div class="itp">
				      <h4>Listing items <strong>{{ items.start_index }}</strong> to <strong>{{ items.end_index }}</strong>, page <strong>{{ items.number }}</strong> of <strong>{{ items.paginator.num_pages }}</strong></h4>
				      <ul>

						{% if items.has_previous %}
							<li><a onClick="update_person_factoids('1', '{{ items.ordering }}')">&#8249;&#8249; First</a></li>
				            <li><a onClick="update_person_factoids('{{ items.previous_page_number }}', '{{ items.ordering }}')">&#8249; Previous</a></li>
						{% else %}
							<li class="s5">&#8249;&#8249; First</li>
							<li class="s5">&#8249; Previous</li>
				        {% endif %}

						{% for el in items.extrastuff %}

							{% ifequal el items.number %}
								<li class="s1">{{ el }}</li>
							{% else %}
								<li><a onClick="update_person_factoids('{{ el }}', '{{ items.ordering }}')">{{ el }}</a></li>
							{% endifequal %}

						{% endfor %}

						{% if items.has_next %}
							<li><a onClick="update_person_factoids('{{ items.next_page_number }}', '{{ items.ordering }}')">Next &#8250;</a></li>
							<li><a onClick="update_person_factoids('{{items.paginator.num_pages}}', '{{ items.ordering }}')">Last &#8250;&#8250;</a></li>
						{% else %}
							<li class="s5">Next &#8250;</li>
							<li class="s5">Last &#8250;&#8250;</li>
				        {% endif %}

				      </ul>
				    </div>
				{% endwith %} {% endif %}
				
				{# END PAGINATOR  TOP #}
					
												
				<br />				
				
				<table>
				  <tr>
				    <th id="test1"><a onClick="update_person_factoids('1', 'date1')">Date</a></th>
				    <th><a onClick="update_person_factoids('1', 'summary')">Short Summary</a></th>
					<th><a onClick="update_person_factoids('1', 'role')">Role</a></th>
				    <th>Source</th>
					<th><a onClick="update_person_factoids('1', 'type')">Type</a></th>
				  </tr>


				{# {% for a in person.assocfactoidperson_set.all %} #}
				{% for a in assocfactoidperson_set  %}
				
				  <tr>
				    <td>{{a.factoid.firmdate|default:"unavailable"}}</td>
				    <td><a href="{% url 'factoid_detail' a.factoid.id %}" title="click to show">{{a.factoid}}</a></td>
				    <td>{{a.role}}</td>
				    <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}" title="click to show">{{a.factoid.sourcekey|poms_italic|safe}}</a></td>
					<td>{{a.factoid.get_right_subclass.0}}&#160;&#160;&#160;&#160;</td>
				  </tr>
				
				{% endfor %}

			
				</table>
				
				
				<br /><br />
							
				
				{% endblock generic_factoids %}
				
				
		    </div>  
			{# end of fragment1 #} 
		
		{% endif %}
		

		{% if person.assocfactoidproanima_set.all  %}
		
		    <div id="fragment-2">
			
				{% block proanima_factoids %}

				{# PAGINATOR  TOP: shown only when we have enough items #}
				{% if items2 %} {% with items2 as items %}

				    <div class="itp">
				      <h4>Listing items <strong>{{ items.start_index }}</strong> to <strong>{{ items.end_index }}</strong>, page <strong>{{ items.number }}</strong> of <strong>{{ items.paginator.num_pages }}</strong></h4>
				      <ul>

						{% if items.has_previous %}
							<li><a onClick="update_person_factoids('1', '{{ items.ordering }}', 'fragment-2')">&#8249;&#8249; First</a></li>
				            <li><a onClick="update_person_factoids('{{ items.previous_page_number }}', '{{ items.ordering }}', 'fragment-2')">&#8249; Previous</a></li>
						{% else %}
							<li class="s5">&#8249;&#8249; First</li>
							<li class="s5">&#8249; Previous</li>
				        {% endif %}

						{% for el in items.extrastuff %}

							{% ifequal el items.number %}
								<li class="s1">{{ el }}</li>
							{% else %}
								<li><a onClick="update_person_factoids('{{ el }}', '{{ items.ordering }}', 'fragment-2')">{{ el }}</a></li>
							{% endifequal %}

						{% endfor %}

						{% if items.has_next %}
							<li><a onClick="update_person_factoids('{{ items.next_page_number }}', '{{ items.ordering }}', 'fragment-2')">Next &#8250;</a></li>
							<li><a onClick="update_person_factoids('{{items.paginator.num_pages}}', '{{ items.ordering }}', 'fragment-2')">Last &#8250;&#8250;</a></li>
						{% else %}
							<li class="s5">Next &#8250;</li>
							<li class="s5">Last &#8250;&#8250;</li>
				        {% endif %}

				      </ul>
				    </div>
				{% endwith %} {% endif %}

				{# END PAGINATOR  TOP #}

						
				<br />
					<table>
					  <tr>
					    <th><a onClick="update_person_factoids('1', 'date1', 'fragment-2')">Date</a></th>
					    <th><a onClick="update_person_factoids('1', 'summary', 'fragment-2')">Short Summary</a></th>
						<th><a onClick="update_person_factoids('1', 'role', 'fragment-2')">Role</a></th>
					    <th>Source</th>
						<th><a onClick="update_person_factoids('1', 'type', 'fragment-2')">Type</a></th>
					  </tr>

					{% for a in assocfactoidproanima_set %}
					
					  <tr>
					    <td>{{a.factoidtrans.firmdate|default:"unavailable"}}</td>
					    <td><a href="{% url 'factoid_detail' a.factoidtrans.id %}" title="click to show">{{a.factoidtrans}}</a></td>
					    <td>{{a.role}}</td>
					    <td><a href="{% url 'source_detail' a.factoidtrans.sourcekey.id %}" title="click to show">{{a.factoidtrans.sourcekey|poms_italic|safe}}</a></td>
						<td>{{a.factoidtrans.get_right_subclass.0}}&#160;&#160;&#160;&#160;</td>
					  </tr>
					
					{% endfor %}

					</table>
				<br />
				
				{% endblock proanima_factoids %}
				
		    </div>
		
		{% endif %}


		{% if person.assocfactoidwitness_set.all  %}
		
		    <div id="fragment-3">
			
			{% block witness_factoids %}

			{# PAGINATOR  TOP: shown only when we have enough items #}
			{% if items3 %} {% with items3 as items %}

			    <div class="itp">
			      <h4>Listing items <strong>{{ items.start_index }}</strong> to <strong>{{ items.end_index }}</strong>, page <strong>{{ items.number }}</strong> of <strong>{{ items.paginator.num_pages }}</strong></h4>
			      <ul>

					{% if items.has_previous %}
						<li><a onClick="update_person_factoids('1', '{{ items.ordering }}', 'fragment-3')">&#8249;&#8249; First</a></li>
			            <li><a onClick="update_person_factoids('{{ items.previous_page_number }}', '{{ items.ordering }}', 'fragment-3')">&#8249; Previous</a></li>
					{% else %}
						<li class="s5">&#8249;&#8249; First</li>
						<li class="s5">&#8249; Previous</li>
			        {% endif %}

					{% for el in items.extrastuff %}

						{% ifequal el items.number %}
							<li class="s1">{{ el }}</li>
						{% else %}
							<li><a onClick="update_person_factoids('{{ el }}', '{{ items.ordering }}', 'fragment-3')">{{ el }}</a></li>
						{% endifequal %}

					{% endfor %}

					{% if items.has_next %}
						<li><a onClick="update_person_factoids('{{ items.next_page_number }}', '{{ items.ordering }}', 'fragment-3')">Next &#8250;</a></li>
						<li><a onClick="update_person_factoids('{{items.paginator.num_pages}}', '{{ items.ordering }}', 'fragment-3')">Last &#8250;&#8250;</a></li>
					{% else %}
						<li class="s5">Next &#8250;</li>
						<li class="s5">Last &#8250;&#8250;</li>
			        {% endif %}

			      </ul>
			    </div>
			{% endwith %} {% endif %}
			
			{# END PAGINATOR  TOP #}

			
				<br />
					<table>
					  <tr>
					    <th><a onClick="update_person_factoids('1', 'date1', 'fragment-3')">Date</a></th>
					    <th><a onClick="update_person_factoids('1', 'summary', 'fragment-3')">Short Summary</a></th>
						{# <th><a onClick="update_person_factoids('1', 'role')">Role</a></th> #}
					    <th>Source</th>
						<th><a onClick="update_person_factoids('1', 'type', 'fragment-3')">Type</a></th>
					  </tr>

					{% for a in assocfactoidwitness_set %}
					
					  <tr>
					    <td>{{a.factoid.firmdate|default:"unavailable"}}</td>
					    <td><a href="{% url 'factoid_detail' a.factoid.id %}" title="click to show">{{a.factoid}}</a></td>
					    {# <td>{{a.role}}</td> #}
					    <td><a href="{% url 'source_detail' a.factoid.sourcekey.id %}" title="click to show">{{a.factoid.sourcekey|poms_italic|safe}}</a></td>
						<td>{{a.factoid.get_right_subclass.0}}&#160;&#160;&#160;&#160;</td>
					  </tr>
					
					{% endfor %}

					</table>
				<br />
				{% endblock witness_factoids %}
		    </div>  
		{# end of fragment-3 #}
		
		
		</div>
		
		{% endif %}


<!-- final div ######################### -->
</div>



{% endblock %}




