{% extends "pomsapp/record/record_base.html" %}

{% load extrafilters pomsapp_tags pomsapp_wagtail_tags %}


{% block breadcrumbs %}
        <div id="breadcrumbs">
        {% get_wagtail_page 'browse' as wagtail_page %}
            {% breadcrumbs current_page=wagtail_page extra=record.shortdesc %}

        </div>
    {% endblock %}

{% block contents %}


    {% block preview_contents %}



        <div class="recordSummary">

        <div class="hdp">

            <h1 class="record" {% if not preview %}{% if record.poss_lands.all.count > 0 %}style="min-height:auto;"
            {% endif %}{% endif %}><!--<span
                    class="{{ recordsubtype|cleancss }}icon">{{ recordsubtype|cleancss }}icon]</span>-->
                {{ recordsubtype|capfirst }}:
                {% if user.is_staff %}
                    <a href="{{ record.get_admin_url }}" target="_blank"
                       title="Welcome administrator! Click to edit this item in the data entry section."
                       style="color: red;">{{ record.shortdesc }}</a>
                {% else %}
                    {{ record.shortdesc }}
                {% endif %}
            </h1>
        </div>
        {% if not preview %}{% if record.poss_lands.all.count > 0 %}
            <div id="map"
                 style="border-style:solid;border-width:1px;width:auto;height:250px;margin-right:100px;margin-right:20px;margin-left:20px;">

            </div>{% endif %}
        {% endif %}
        <div class="ct">
        <dl class="m1">

            {# FIRST ROW ITEMS #}

            {% if record.relationship %}
                <dt>Relationship</dt>
                <dd>{{ record.relationship|default:"&nbsp;"}}</dd>
                {% if assocfactoidperson_set.object_list %}
                    {% for a in assocfactoidperson_set.object_list %}
                        {% ifequal a.role.name "subject (relationship)" %}
                            <dt>Subject</dt>
                            <dd style="color: darkred;">{{ a.person }}</dd>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}


            {% endif %}

            {% if record.titletypekey %}
                <dt>Title type</dt>
                <dd>{{ record.titletypekey|default:"&nbsp;"}}</dd>

            {% endif %}

            {% if record.transactiontype %}
                <dt>Type of Transaction</dt>
                <dd>{{ record.transactiontype|default:"&nbsp;"}}</dd>

            {% endif %}



            <dt>From Source</dt>
            <dd><a  href="{% url 'source_detail' record.sourcekey.id %}" title="click to show">
                {{ record.sourcekey|poms_italic|safe|default:"&nbsp;"}}</a></dd>
            {% if record.firmdate %}
                <dt>Firm date</dt>
                <dd>{{ record.firmdate|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.probabledate %}
                <dt>Probable date</dt>
                <dd>{{ record.probabledate|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.datingnotes %}
                <dt>Dating Notes</dt>
                <dd>{{ record.datingnotes|poms_italic|default:"&nbsp;"}}</dd>
            {% endif %}

        </dl>


        {#  TITLE  #}

        {% ifequal recordsubtype 'title/occupation' %}

            <dl class="m1">
                {% if  record.bygraceofgod %}
                    <dt>By grace of God</dt>
                    <dd>{{ record.bygraceofgod|yesno:"yes,no"|default:"&nbsp;"}}</dd>
                {% endif %}
                {% if record.byanotherdivineinvocation %}
                    <dt>By another divine invocation</dt>
                    <dd>{{ record.byanotherdivineinvocation|yesno:"yes,no"|default:"&nbsp;"}}</dd>
                    </dl>
                {% endif %}

        {% endifequal %}


        {#  RELATIONSHIP  #}

        {% if record.relationship %}
            {% if  record.placefielty %}
                <dl class="m1">
                    <dt>Related Place (fealty)</dt>
                    <dd><a  href="{% url 'place_detail' record.placefielty.id %}"
                           title="Show details">{{ record.placefielty.name }}</a></dd>
                </dl>
            {% endif %}
        {% endif %}



        {#  TRANSACTION  #}

        {% ifequal recordsubtype "transaction" %}
            <dl class="m1">
            {% if record.isprimary %}
                <dt>Primary</dt>
                <dd>{{ record.isprimary|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.isdare %}
                <dt>Dare</dt>
                <dd>{{ record.isdare|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.verbsnotspecified %}
                <dt>Verbs not specified</dt>
                <dd>{{ record.verbsnotspecified|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.isexchange %}
                <dt>Exchange</dt>
                <dd>{{ record.isexchange|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.conveth %}
                <dt>Conveth</dt>
                <dd>{{ record.conveth|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.tenendas.all %}
                <dt>Tenendas</dt>
                <dd> {{ record.tenendas.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.tenendasclauseolang %}
                <dt>Tenendas original language</dt>
                <dd>{{ record.tenendasclauseolang|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.exemptions.all %}
                <dt>Exemptions</dt>
                <dd> {{ record.exemptions.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.exemptionclauseolang %}
                <dt>Exemptions original language</dt>
                <dd>{{ record.exemptionclauseolang|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.renderdates.all %}
                <dt>Render dates</dt>
                <dd>{{ record.renderdates.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.rendernominal.all %}
                <dt>Nominal renders</dt>
                <dd>{{ record.rendernominal.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.sicutclauses.all %}
                <dt>Sicut clause</dt>
                <dd>{{ record.sicutclauses.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.legalpertinents.all %}
                <dt>Legal Pertinents</dt>
                <dd>{{ record.legalpertinents.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.returnsmilitary.all %}
                <dt>Returns / Military</dt>
                <dd>{{ record.returnsmilitary.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.returnsrenders.all %}
                <dt>Returns / Renders</dt>
                <dd>{{ record.returnsrenders.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.commonburdens.all %}
                <dt>Common burdens</dt>
                <dd>{{ record.commonburdens.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.previouschartermention %}
                <dt>Previous mentions of charter</dt>
                <dd>{{ record.previouschartermention|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.previouschirographmention %}
                <dt>Previous mention of chirograph</dt>
                <dd>{{ record.previouschirographmention|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.perambulation %}
                <dt>Perambulation</dt>
                <dd>{{ record.perambulation|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.ismalediction %}
                <dt>Malediction</dt>
                <dd>{{ record.ismalediction|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.corroborationsealing %}
                <dt>Corroboration / sealing</dt>
                <dd>{{ record.corroborationsealing|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if  record.bothaddressorsmentioned %}
                <dt>Both addressors mentioned</dt>
                <dd>{{ record.bothaddressorsmentioned|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.warrandice %}
                <dt>Warrandice</dt>
                <dd>{{ record.warrandice|yesno:"yes,no"|default:"&nbsp;"}}</dd>
            {% endif %}
            {% if record.spiritualbenefits.all %}
                <dt>Spiritual Benefits</dt>
                <dd>{{ record.spiritualbenefits.all|printmany|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.notes %}
                <dt>Notes</dt>
                <dd>{{ record.notes|default:"&nbsp;"}}
                </dd>
            {% endif %}
            {% if record.genericwitnesses %}
                <dt>Witnesses in original, but not copied into cartulary</dt>
                <dd>{{ record.genericwitnesses|yesno:"yes,no"}}
                </dd>
            {% endif %}
            {% if record.testemeipso %}
                <dt>Teste me Ipso</dt>
                <dd>{{ record.testemeipso|yesno:"yes,no"}}
                </dd>
            {% endif %}



        {% endifequal %}


    {% endblock %}




</div><!-- ends content ct -->
</div><!-- ends record summary -->
    <div id="tabs" class="tsb recordTabs">
    
        <!-- Tab Headers -->
        {% if assocfactoidperson_set.object_list %}
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Associated People <span>({{ assocfactoidperson_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidwitness_set.object_list %}
            <input id="tab2" type="radio" name="tabs" checked>
            <label for="tab2">Witnesses <span>({{ assocfactoidwitness_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidproanima_set.object_list %}
            <input id="tab3" type="radio" name="tabs" checked>
            <label for="tab3">Pro Anima people <span>({{ assocfactoidproanima_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_lands_set.object_list %}
            <input id="tab4" type="radio" name="tabs" checked>
            <label for="tab4">Possessions: Lands <span>({{ assocfactoidposs_lands_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_alms_set.object_list %}
            <input id="tab5" type="radio" name="tabs" checked>
            <label for="tab5">Possessions: Alms <span>({{ assocfactoidposs_alms_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_objects_set.object_list %}
            <input id="tab6" type="radio" name="tabs" checked>
            <label for="tab6">Possessions: Objects <span>({{ assocfactoidposs_objects_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_office_set.object_list %}
            <input id="tab7" type="radio" name="tabs" checked>
            <label for="tab7">Possessions: Office <span>({{ assocfactoidposs_office_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_pgeneral_set.object_list %}
            <input id="tab8" type="radio" name="tabs" checked>
            <label for="tab8">Possessions in General <span>({{ assocfactoidposs_pgeneral_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_revenuekind_set.object_list %}
            <input id="tab9" type="radio" name="tabs" checked>
            <label for="tab9">Possessions: Revenues in kind
                <span>({{ assocfactoidposs_revenuekind_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_revenuesilver_set.object_list %}
            <input id="tab10" type="radio" name="tabs" checked>
            <label for="tab10">Possessions: Revenues in silver
                <span>({{ assocfactoidposs_revenuesilver_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidposs_unfreep_set.object_list %}
            <input id="tab11" type="radio" name="tabs" checked>
            <label for="tab11">Possessions: Unfree Persons <span>({{ assocfactoidposs_unfreep_set.tot }})</span></label>
        {% endif %}

        {% if assocfactoidprivileges_set.object_list %}
            <input id="tab12" type="radio" name="tabs" checked>
            <label for="tab12">Possessions: Privileges <span>({{ assocfactoidprivileges_set.tot }})</span></label>
        {% endif %}

        <!-- end Tab Headers -->


    {% include 'pomsapp/includes/factoid_tabs.html' %}


        <!-- closing final div ######################### -->
    </div>

    <script>

        geoArray = [
            {% if record.poss_lands.all.count > 0 %}
                {
                    "db_id": "{{ record.id }}",
                    "source": "{{ record.sourcekey }}",
                    "type": "{{ record.inferred_type }}",
                    "desc": "{{ record.shortdesc }}",
                    "record_type": "factoid",
                    "places": [{% for land in record.poss_lands.all %}{% if land.place.geom %} {
                        "name": "{{land.place.name}}, {{ land.place.parent}}",
                        "coordinates": "{{land.place.geom.y}},{{land.place.geom.x}}"
                    }, {% endif %}  {% endfor %}],
                    "people": [{% for person in record.assocfactoidperson_set.all %}{"id":{{ person.id }},
                            "name": "{{ person.person }}",
                            "role": "{{ person.role}}"},{% endfor %}],
                },
            {% endif %}
        ]


        L.newCircleMarker = L.CircleMarker.extend({
            setZIndexOffset: function (offset) {
                this.options.zIndexOffset = offset;
                this.update();
                return this;
            },
            update: function () {
                if (this._icon) {
                    var pos = this._map.latLngToLayerPoint(this._latlng).round();
                    this._setPos(pos);
                }
                return this;
            }
        });


        var minX, minY, maxX, maxY;


        function getPeopleRows(peeps) {
            var str = "";
            for (ps in peeps) {
                str += '<tr><td>' + peeps[ps].name + '</td><td>' + peeps[ps].role + '</td></tr>'
            }
            return str;
        };


        markerStyles = {
            'transaction': {'color': 'blue', 'start': 1, 'stop': 179},
            'possession': {'color': 'red', 'start': 181, 'stop': 359},
            'title/occupation': {'color': 'red'},
            'other': {'color': 'yellow'},
            'M': {'color': 'blue', 'start': 1, 'stop': 89},
            'F': {'color': 'pink', 'start': 91, 'stop': 179},
            'Institution': {'color': 'green', 'start': 181, 'stop': 269},
            'M/F': {'color': 'purple', 'start': 271, 'stop': 359}
        }

        markerCentreArray = []

        $(document).ready(function () {
            if (geoArray.length > 0) {
                map = new L.map('map', {maxZoom: 12, zoomControl: true});
                layer = new L.TileLayer('http://{s}.tiles.mapbox.com/v3/isawnyu.map-knmctlkh/{z}/{x}/{y}.png',
                    {attribution: 'Map base by <a href="http://awmc.unc.edu/">AWMC</a>'})//.addTo(map);
                modern = new L.TileLayer("http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}").addTo(map)

                switcher = new L.control.layers({'Modern': modern, 'Topography': layer}, {}).addTo(map);

                for (r in geoArray) {

                    // deal with each type of record - Factoids first
                    if (geoArray[r].record_type == "factoid") {
                        for (p in geoArray[r].places) {

                            if (markerCentreArray.indexOf(String(
                                parseFloat(geoArray[r].places[p].coordinates.split(',')[0]))
                                + ',' +
                                String(
                                    parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
                                )) == -1) {
                                markerCentreArray.push(
                                    String(
                                        parseFloat(geoArray[r].places[p].coordinates.split(',')[0]))
                                    + ',' +
                                    String(
                                        parseFloat(geoArray[r].places[p].coordinates.split(',')[1])
                                    )
                                );
                            }


                            var m = new L.newCircleMarker(
                                [parseFloat(geoArray[r].places[p].coordinates.split(',')[0]),
                                    parseFloat(geoArray[r].places[p].coordinates.split(',')[1])]
                                , {
                                    fillColor: markerStyles[geoArray[r].type].color,
                                    radius: 7,
                                    fillOpacity: 1,
                                    color: 'black',//markerStyles[geoArray[r].type].color,
                                    weight: 1,
                                    opacity: 0.9,
                                    'name': geoArray[r].places[p].name,
                                    'type': geoArray[r].type,
                                    'db_id': geoArray[r].db_id,
                                    startAngle: markerStyles[geoArray[r].type].start,
                                    stopAngle: markerStyles[geoArray[r].type].stop
                                });


                            m.bindPopup(
                                '<table class="simple headersX"><tbody>' +
                                '<tr><th colspan="2">' + m.options.name + '</th></tr>' +
                                '<tr><th colspan="2">' + geoArray[r].type + '</th></tr>' +
                                '<tr><td colspan="2">' + geoArray[r].source + '</td></tr>' +
                                '<tr><td colspan="2">' + geoArray[r].desc + '</td></tr>' +
                                '<tr><th>Name</th><th>Role</th></tr>'
                                + getPeopleRows(geoArray[r].people) +
                                '</tbody></table>'
                            );
                            map.addLayer(m);


                            // Use markerCentreArray values to create centre markers:
                            for (cms in markerCentreArray) {
                                var cm = new L.CircleMarker(
                                    [parseFloat(markerCentreArray[cms].split(',')[0]),
                                        parseFloat(markerCentreArray[cms].split(',')[1])],
                                    {
                                        fillColor: 'gray',
                                        radius: 9,
                                        fillOpacity: 0,
                                        color: 'black',
                                        weight: 1,
                                        opacity: 0.85,
                                        clickable: false,
                                    })
                                    .addTo(map);
                            }
                            ;


                            if (p == 0) {
                                minX = m.getLatLng().lng;
                                minY = m.getLatLng().lat;
                                maxX = m.getLatLng().lng;
                                maxY = m.getLatLng().lat;
                                console.log(minX, minY, maxX, maxY)
                            }
                            ;

                            if (m.getLatLng().lng <= minX) {
                                minX = m.getLatLng().lng;
                            }

                            else {
                                maxX = m.getLatLng().lng;
                            }

                            if (m.getLatLng().lat <= minY) {
                                minY = m.getLatLng().lat;
                            }

                            else {
                                maxY = m.getLatLng().lat;
                            }
                        }
                        ;
                    } // End if Factoids type
                }
            }

            var ll = new L.LatLng(minY, minX);
            var ur = new L.LatLng(maxY, maxX);
            var b = new L.LatLngBounds(ll, ur);
            map.fitBounds(b);

        })


    </script>





{% endblock %}

