{# <div class="indexDropdown"> #}
{# <fieldset>	 #}
{# 	<label>Go to facet:</label> #}
{# 	<select id="gotoFacet" name=""> #}
{# 	<option value="">People and Institutions</option> #}
{# 	<option value="">Sources</option> #}
{# 	<option value="">Relationships</option> #}
{# 	<option value="">Transactions</option> #}
{# 	<option value="">Terms of Tenure</option> #}
{# 	</select> #}
{# </fieldset> #}
{# 	 #}
{# </div> <!-- end .indexDropdown --> #}


{# new mikele: I made it float on the right #}


<span class="indexDropdown2" style="text-align: right; margin-left: 140px;">
{# <fieldset>	 #}
	<label>Go to facet:</label>
	<select id="gotoFacet" name="">
	<option value="">People and Institutions</option>
	<option value="">Sources</option>
	<option value="">Relationships</option>
	<option value="">Transactions</option>
	<option value="">Terms of Tenure</option>
	</select>
{# </fieldset> #}
{# 	 #}
</span>