<div class="line">
    <nav class="primary" id="mainNavigation">
        <ul class="inline">
            <li><a class="navLink first" href="{{FRONTEND_URL}}/">Home</a></li>
            <li><a class="navLink" href="{{FRONTEND_URL}}/about/">About</a></li>
            <li><a class="navLink selected" href="{{DATABASE_URL}}/">Database</a></li>
            <li><a class="navLink last" href="{{FRONTEND_URL}}/information/">Information</a></li>
            <li><a class="navLink last" href="{{FRONTEND_URL}}/schools/">Schools</a></li>
            <li><a class="navLink last" href="{{FRONTEND_URL}}/news/">News</a></li>
            <li><a class="navLink last" href="{{FRONTEND_URL}}/contact/">Contact</a></li>
            <li><a class="navLink last "href="{{ FRONTEND_URL }}/social-network-analysis/">Social Network Analysis</a></li>
            <li><a class="navLink last" href="{{FRONTEND_URL}}/help/">Help</a></li>
        </ul>
    </nav>
</div><!-- end line for secondary navigation -->

<div class="line">
<nav class="secondaryNav">
	 <ul class="inline">
		<li class="navLink first"><a href="/search">Search</a></li>
      	<li class="navLink selected s1"><a href="/browse">Browse</a></li>
      	<li class="navLink"><a href="/record/">Record</a></li>
        <li class="navLink"><a href="/sna/all/">Social Network Analysis</a></li>
        <li class="navLink"><a href="/map/browse/">Map</a></li>
      	<li class="navLink"><a href="/familytrees">Family Trees</a></li>
      	<li class="navLink last"><a href="/labs">Labs</a></li>
      </ul>

	</nav>
	</div> <!-- end line for secondary navigation -->
