{% extends "pomsapp/record/record_base.html" %}

	
	{% block contents %}
		
		<div class="tsp">
			
			<br />

			<br /><br />
			<br /><br />
			<p style="color:AntiqueWhite; font-size:40px; font-style:italic;">No record to show.. </p>
			<br />
			
			<p style="color:AntiqueWhite; font-size:50px; font-style:normal;">Please <span style="color:#f29f9f;">select</span> one record by using the
				<span style="color:#f29f9f;">search</span> page or the <span style="color:#f29f9f;">browse</span> page!</p>

			<br /><br /><br /><br />
			<br /><br />
			
		</div>

	{% endblock %}
	
	
