{% extends "pomsapp/familytrees/familytrees_base.html" %}

{% load extrafilters %}


	{% block results  %}

			<br /><br />

			<IMG SRC = "{{ STATIC_URL }}img/famtree/{{ FAMTREE_IMAGE }}" USEMAP = "#1" BORDER = "0">
			<MAP NAME = "1">
			<AREA SHAPE = "RECT" COORDS = " 280,  75,  426,  107" HREF = "/record/person/142/">
			<AREA SHAPE = "RECT" COORDS = " 353,  135,  480,  194" HREF = "/record/person/1899/">
			<AREA SHAPE = "RECT" COORDS = " 40,  136,  140,  155" HREF = "/record/person/65/">
			<AREA SHAPE = "RECT" COORDS = " 77,  189,  227,  211" HREF = "/record/person/1225/">
			<AREA SHAPE = "RECT" COORDS = " 56,  159,  109,  181" HREF = "/record/person/10503/">
			<AREA SHAPE = "RECT" COORDS = " 37,  251,  151,  272" HREF = "/record/person/2110/">
			<AREA SHAPE = "RECT" COORDS = " 198,  135,  303,  165" HREF = "/record/person/64/">
			<AREA SHAPE = "RECT" COORDS = " 314,  211,  347,  244" HREF = "/record/person/1848">
			<AREA SHAPE = "RECT" COORDS = " 359,  219,  481,  255" HREF = "/record/person/841/">
			<AREA SHAPE = "RECT" COORDS = " 41,  330,  140,  368" HREF = "/record/person/451/">
			<AREA SHAPE = "RECT" COORDS = " 151,  326,  208,  360" HREF = "/record/person/7523/">
			<AREA SHAPE = "RECT" COORDS = " 271,  325,  382,  386" HREF = "/record/person/1857/">
			<AREA SHAPE = "RECT" COORDS = " 395,  327,  447,  360" HREF = "/record/person/4410/">
			<AREA SHAPE = "RECT" COORDS = " 660,  331,  720,  382" HREF = "/record/person/16029/">
			<AREA SHAPE = "RECT" COORDS = " 670,  419,  793,  457" HREF = "/record/person/2121/">
			<AREA SHAPE = "RECT" COORDS = " 353,  441,  454,  499" HREF = "/record/person/1938/">
			<AREA SHAPE = "RECT" COORDS = " 432,  524,  530,  577" HREF = "/record/person/6598/">
			<AREA SHAPE = "RECT" COORDS = " 551,  526,  661,  561" HREF = "/record/person/5865/">
			<AREA SHAPE = "RECT" COORDS = " 203,  482,  324,  527" HREF = "/record/person/1419/">
			<AREA SHAPE = "RECT" COORDS = " 189,  554,  310,  599" HREF = "/record/person/9642/">
			<AREA SHAPE = "RECT" COORDS = " 200,  446,  277,  477" HREF = "/record/person/1956/">
			<AREA SHAPE = "RECT" COORDS = " 42,  446,  99,  477" HREF = "/record/person/8887/">
			<AREA SHAPE = "RECT" COORDS = " 42,  481,  189,  516" HREF = "/record/person/4752/">
			<AREA SHAPE = "RECT" COORDS = " 478,  438,  585,  461" HREF = "/record/person/8059/">
			<AREA SHAPE = "DEFAULT" NOHREF>
			<!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->
			</MAP>
			

		
	{% endblock  %}  {# results #}




