{% extends "pomsapp/familytrees/familytrees_base.html" %}

{% load extrafilters %}


	{% block results  %}

			<br /><br />

			<IMG SRC = "{{ STATIC_URL }}img/famtree/{{ FAMTREE_IMAGE }}" USEMAP = "#1" BORDER = "0">
			<MAP NAME = "1">
			<AREA SHAPE = "RECT" COORDS = " 201,  128,  314,  173" HREF = "/record/person/1587/">
			<AREA SHAPE = "RECT" COORDS = " 358,  130,  428,  169" HREF = "/record/person/729/">
			<AREA SHAPE = "RECT" COORDS = " 160,  290,  229,  329" HREF = "/record/person/712/">
			<AREA SHAPE = "RECT" COORDS = " 43,  452,  112,  491" HREF = "/record/person/1509/">
			<AREA SHAPE = "RECT" COORDS = " 523,  63,  592,  102" HREF = "/record/person/245/">
			<AREA SHAPE = "RECT" COORDS = " 506,  448,  587,  505" HREF = "/record/person/58/">
			<AREA SHAPE = "RECT" COORDS = " 331,  521,  484,  576" HREF = "/record/person/360/">
			<AREA SHAPE = "RECT" COORDS = " 626,  173,  744,  211" HREF = "/record/person/1741/">
			<AREA SHAPE = "RECT" COORDS = " 242,  355,  389,  399" HREF = "/record/person/812/">
			<AREA SHAPE = "RECT" COORDS = " 556,  356,  657,  392" HREF = "/record/person/779/">
			<AREA SHAPE = "RECT" COORDS = " 708,  451,  829,  492" HREF = "/record/person/7807/">
			<AREA SHAPE = "RECT" COORDS = " 442,  455,  501,  494" HREF = "/record/person/1855/">
			<AREA SHAPE = "RECT" COORDS = " 606,  65,  665,  103" HREF = "/record/person/246/">
			<AREA SHAPE = "RECT" COORDS = " 434,  131,  519,  172" HREF = "/record/person/1683/">
			<AREA SHAPE = "RECT" COORDS = " 121,  453,  239,  491" HREF = "/record/person/2363//record/person/">
			<AREA SHAPE = "RECT" COORDS = " 243,  531,  309,  571" HREF = "/record/person/1402/">
			<AREA SHAPE = "RECT" COORDS = " 43,  533,  132,  579" HREF = "/record/person/1936/">
			<AREA SHAPE = "RECT" COORDS = " 247,  453,  402,  493" HREF = "/record/person/8736">
			<AREA SHAPE = "RECT" COORDS = " 639,  454,  700,  492" HREF = "/record/person/4457/">
			<AREA SHAPE = "RECT" COORDS = " 439,  356,  537,  412" HREF = "/record/person/8585/">
			<AREA SHAPE = "RECT" COORDS = " 199,  211,  315,  243" HREF = "/record/person/8571/">
			<AREA SHAPE = "RECT" COORDS = " 45,  214,  160,  250" HREF = "/record/person/1684/">
			<AREA SHAPE = "DEFAULT" NOHREF>
			<!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->
			</MAP>

		
	{% endblock  %}  {# results #}




