{% extends "pomsapp/familytrees/familytrees_base.html" %}

{% load extrafilters %}


	{% block results  %}

			<br /><br />

			<IMG SRC = "{{ STATIC_URL }}img/famtree/{{ FAMTREE_IMAGE }}" USEMAP = "#1" BORDER = "0">
			<MAP NAME = "1">
			<AREA SHAPE = "RECT" COORDS = " 142,  65,  217,  104" HREF = "/record/person/246/">
			<AREA SHAPE = "RECT" COORDS = " 302,  112,  406,  140" HREF = "/record/person/248">
			<AREA SHAPE = "RECT" COORDS = " 217,  161,  301,  202" HREF = "/record/person/249/">
			<AREA SHAPE = "RECT" COORDS = " 258,  65,  333,  104" HREF = "/record/person/245/">
			<AREA SHAPE = "RECT" COORDS = " 301,  160,  376,  203" HREF = "/record/person/265/">
			<AREA SHAPE = "RECT" COORDS = " 384,  160,  444,  201" HREF = "/record/person/291/">
			<AREA SHAPE = "RECT" COORDS = " 455,  158,  521,  206" HREF = "/record/person/130/">
			<AREA SHAPE = "RECT" COORDS = " 522,  164,  581,  212" HREF = "/record/person/586/">
			<AREA SHAPE = "RECT" COORDS = " 615,  156,  754,  182" HREF = "/record/person/1683/">
			<AREA SHAPE = "RECT" COORDS = " 617,  186,  717,  212" HREF = "/record/person/729/">
			<AREA SHAPE = "RECT" COORDS = " 452,  246,  557,  294" HREF = "/record/person/90/">
			<AREA SHAPE = "RECT" COORDS = " 564,  245,  662,  287" HREF = "/record/person/95/">
			<AREA SHAPE = "RECT" COORDS = " 14,  303,  111,  344" HREF = "/record/person/74/">
			<AREA SHAPE = "RECT" COORDS = " 160,  306,  257,  347" HREF = "/record/person/1/">
			<AREA SHAPE = "RECT" COORDS = " 262,  307,  376,  349" HREF = "/record/person/56/">
			<AREA SHAPE = "RECT" COORDS = " 419,  308,  544,  347" HREF = "/record/person/142/">
			<AREA SHAPE = "RECT" COORDS = " 493,  386,  575,  423" HREF = "/record/person/58/">
			<AREA SHAPE = "RECT" COORDS = " 602,  386,  697,  421" HREF = "/record/person/1855/">
			<AREA SHAPE = "RECT" COORDS = " 596,  422,  691,  457" HREF = "/record/person/1980">
			<AREA SHAPE = "RECT" COORDS = " 101,  434,  172,  491" HREF = "/record/person/307">
			<AREA SHAPE = "RECT" COORDS = " 180,  430,  269,  455" HREF = "/record/person/6059">
			<AREA SHAPE = "RECT" COORDS = " 185,  456,  281,  493" HREF = "/record/person/444/">
			<AREA SHAPE = "RECT" COORDS = " 324,  454,  419,  491" HREF = "/record/person/1239/">
			<AREA SHAPE = "RECT" COORDS = " 312,  431,  379,  453" HREF = "/record/person/4620/">
			<AREA SHAPE = "RECT" COORDS = " 9,  516,  76,  537" HREF = "/record/person/13662/">
			<AREA SHAPE = "RECT" COORDS = " 220,  700,  397,  717">
			<AREA SHAPE = "RECT" COORDS = " 90,  535,  267,  552" HREF = "/record/person/1238/">
			<AREA SHAPE = "RECT" COORDS = " 89,  516,  269,  534" HREF = "/record/person/7959">
			<AREA SHAPE = "RECT" COORDS = " 486,  487,  561,  504" HREF = "/record/person/7732/">
			<AREA SHAPE = "RECT" COORDS = " 508,  505,  600,  531" HREF = "/record/person/1971/">
			<AREA SHAPE = "RECT" COORDS = " 612,  484,  693,  521" HREF = "/record/person/360/">
			<AREA SHAPE = "RECT" COORDS = " 726,  480,  843,  519" HREF = "/record/person/1402/">
			<AREA SHAPE = "RECT" COORDS = " 459,  561,  591,  583" HREF = "/record/person/1935">
			<AREA SHAPE = "RECT" COORDS = " 458,  586,  601,  602" HREF = "/record/person/2042">
			<AREA SHAPE = "RECT" COORDS = " 624,  674,  767,  690">
			<AREA SHAPE = "RECT" COORDS = " 604,  654,  747,  670">
			<AREA SHAPE = "RECT" COORDS = " 737,  559,  844,  585" HREF = "/record/person/2313/">
			<AREA SHAPE = "RECT" COORDS = " 736,  588,  857,  615" HREF = "/record/person/2379/">
			<AREA SHAPE = "DEFAULT" NOHREF>
			<!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->
			</MAP>

		
	{% endblock  %}  {# results #}




