{% extends "pomsapp/familytrees/familytrees_base.html" %}

{% load extrafilters %}


	{% block results  %}

			<br /><br />

			<IMG SRC = "{{ STATIC_URL }}img/famtree/{{ FAMTREE_IMAGE }}" USEMAP = "#1" BORDER = "0">
			<MAP NAME = "1">
			<AREA SHAPE = "RECT" COORDS = " 193,  179,  271,  219" HREF = "/record/person/1456/">
			<AREA SHAPE = "RECT" COORDS = " 273,  278,  338,  320" HREF = "/record/person/331/">
			<AREA SHAPE = "RECT" COORDS = " 153,  405,  229,  451" HREF = "/record/person/1477/">
			<AREA SHAPE = "RECT" COORDS = " 274,  403,  307,  436" HREF = "/record/person/1510">
			<AREA SHAPE = "RECT" COORDS = " 347,  409,  418,  441" HREF = "/record/person/1508/">
			<AREA SHAPE = "RECT" COORDS = " 390,  524,  457,  559" HREF = "/record/person/1522/">
			<AREA SHAPE = "RECT" COORDS = " 39,  540,  109,  573" HREF = "/record/person/454/">
			<AREA SHAPE = "RECT" COORDS = " 72,  426,  141,  460" HREF = "/record/person/7833/">
			<AREA SHAPE = "RECT" COORDS = " 42,  297,  118,  345" HREF = "/record/person/337/">
			<AREA SHAPE = "RECT" COORDS = " 71,  398,  139,  423" HREF = "/record/person/1489">
			<AREA SHAPE = "RECT" COORDS = " 269,  523,  342,  556" HREF = "/record/person/1513/">
			<AREA SHAPE = "DEFAULT" NOHREF>
			<!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->
			</MAP>
		
	{% endblock  %}  {# results #}




