{% extends "base.html" %}
{% load static extrafilters pomsapp_tags pomsapp_wagtail_tags %}

{% block titlepage %}
    <title>POMS: family trees</title>
{% endblock %}


{% block load_css %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/a.css"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/s.css"/>
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/p.css"/>
    {# 2010-06-30 was trying this out with the TABS... #}
    {# <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/ui/jquery-ui-poms.css"/> #}
{% endblock %}


{% block load_js %}

    <script type="text/javascript" src="{{ STATIC_URL }js/jquery.overlabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/functions_record.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/c.js"></script>

{% endblock %}


{% block breadcrumbs %}
    <div id="breadcrumbs">
        {% get_wagtail_page 'familytrees' as wagtail_page %}
        {% breadcrumbs current_page=wagtail_page extra=record %}

    </div>
{% endblock %}




{% block tabs_titles %}
    {#<ul class="nvl"> #}
    {#    <li class="i1"><a href="/search">Search</a></li>#}
    {#    <li class="i1"><a href="/browse">Browse</a></li>#}
    {#    <li class="i1"><a href="/record">Record</a></li>#}
    {#    <li class="s1"><a href="#">Family Trees</a></li>#}
    {#    <li class="i1"><a href="/labs">Labs</a></li>#}
    {#</ul>#}
{% endblock %}

{% block small_links %}
    {# <ul class="utl"> #}
    {# <li class="i1"><a href="#"><b>Help</b></a></li> #}
    {# <li class="i2"><a href="#"><b>Register</b></a></li> #}
    {# <li class="ix"><a href="#"><b>Login</b></a></li> #}
    {# </ul>		 #}
{% endblock %}




{% block permalink %}
    {# <ul class="utl m1"> #}
    {#   <li class="i1"><a href="#" title="Permanent URL for this page, which will allow you to save a bookmark"><b>Permalink: {{permalink}}</b></a></li> #}
    {# </ul> #}
{% endblock %}


{% block contents %}

    <div class="cg n2">
        <div class="m">
            <div class="c c1">
                <div class="r2" id="results">
                  {# TODO - This needs to be re-implemented as the JS is missing - BM #}
                  {# <p class="pdfLink"><a href="#">Download this family tree as a PDF</a></p> #}
                    {% block results %}
                        {#  This will need to be further rationalised EH #}
                        <br/><br/>
                        <img src="{% static FAMTREE_IMAGE %}" USEmap="#1" BORDER="0">
                        <map NAME="1">
                            {% if image_id == '1' %}

                                <area SHAPE="RECT" COORDS=" 142,  65,  217,  104" HREF="{% url 'person_detail' 246 %}">
                                <area SHAPE="RECT" COORDS=" 302,  112,  406,  140" HREF="{% url 'person_detail' 248 %}">
                                <area SHAPE="RECT" COORDS=" 217,  161,  301,  202" HREF="{% url 'person_detail' 249 %}">
                                <area SHAPE="RECT" COORDS=" 258,  65,  333,  104" HREF="{% url 'person_detail' 245 %}">
                                <area SHAPE="RECT" COORDS=" 301,  160,  376,  203" HREF="{% url 'person_detail' 265 %}">
                                <area SHAPE="RECT" COORDS=" 384,  160,  444,  201" HREF="{% url 'person_detail' 291 %}">
                                <area SHAPE="RECT" COORDS=" 455,  158,  521,  206" HREF="{% url 'person_detail' 130 %}">
                                <area SHAPE="RECT" COORDS=" 522,  164,  581,  212" HREF="{% url 'person_detail' 586 %}">
                                <area SHAPE="RECT" COORDS=" 615,  156,  754,  182"
                                      HREF="{% url 'person_detail' 1683 %}">
                                <area SHAPE="RECT" COORDS=" 617,  186,  717,  212" HREF="{% url 'person_detail' 729 %}">
                                <area SHAPE="RECT" COORDS=" 452,  246,  557,  294" HREF="{% url 'person_detail' 90 %}">
                                <area SHAPE="RECT" COORDS=" 564,  245,  662,  287" HREF="{% url 'person_detail' 95 %}">
                                <area SHAPE="RECT" COORDS=" 14,  303,  111,  344" HREF="{% url 'person_detail' 74 %}">
                                <area SHAPE="RECT" COORDS=" 160,  306,  257,  347" HREF="{% url 'person_detail' 1 %}">
                                <area SHAPE="RECT" COORDS=" 262,  307,  376,  349" HREF="{% url 'person_detail' 56 %}">
                                <area SHAPE="RECT" COORDS=" 419,  308,  544,  347" HREF="{% url 'person_detail' 142 %}">
                                <area SHAPE="RECT" COORDS=" 493,  386,  575,  423" HREF="{% url 'person_detail' 58 %}">
                                <area SHAPE="RECT" COORDS=" 602,  386,  697,  421"
                                      HREF="{% url 'person_detail' 1855 %}">
                                <area SHAPE="RECT" COORDS=" 596,  422,  691,  457"
                                      HREF="{% url 'person_detail' 1980 %}">
                                <area SHAPE="RECT" COORDS=" 101,  434,  172,  491" HREF="{% url 'person_detail' 307 %}">
                                <area SHAPE="RECT" COORDS=" 180,  430,  269,  455"
                                      HREF="{% url 'person_detail' 6059 %}">
                                <area SHAPE="RECT" COORDS=" 185,  456,  281,  493" HREF="{% url 'person_detail' 444 %}">
                                <area SHAPE="RECT" COORDS=" 324,  454,  419,  491"
                                      HREF="{% url 'person_detail' 1239 %}">
                                <area SHAPE="RECT" COORDS=" 312,  431,  379,  453"
                                      HREF="{% url 'person_detail' 4620 %}">
                                <area SHAPE="RECT" COORDS=" 9,  516,  76,  537" HREF="{% url 'person_detail' 13662 %}">
                                <area SHAPE="RECT" COORDS=" 220,  700,  397,  717">
                                <area SHAPE="RECT" COORDS=" 90,  535,  267,  552" HREF="{% url 'person_detail' 1238 %}">
                                <area SHAPE="RECT" COORDS=" 89,  516,  269,  534" HREF="{% url 'person_detail' 7959 %}">
                                <area SHAPE="RECT" COORDS=" 486,  487,  561,  504"
                                      HREF="{% url 'person_detail' 7732 %}">
                                <area SHAPE="RECT" COORDS=" 508,  505,  600,  531"
                                      HREF="{% url 'person_detail' 1971 %}">
                                <area SHAPE="RECT" COORDS=" 612,  484,  693,  521" HREF="{% url 'person_detail' 360 %}">
                                <area SHAPE="RECT" COORDS=" 726,  480,  843,  519"
                                      HREF="{% url 'person_detail' 1402 %}">
                                <area SHAPE="RECT" COORDS=" 459,  561,  591,  583"
                                      HREF="{% url 'person_detail' 1935 %}">
                                <area SHAPE="RECT" COORDS=" 458,  586,  601,  602"
                                      HREF="{% url 'person_detail' 2042 %}">
                                <area SHAPE="RECT" COORDS=" 624,  674,  767,  690">
                                <area SHAPE="RECT" COORDS=" 604,  654,  747,  670">
                                <area SHAPE="RECT" COORDS=" 737,  559,  844,  585"
                                      HREF="{% url 'person_detail' 2313 %}">
                                <area SHAPE="RECT" COORDS=" 736,  588,  857,  615"
                                      HREF="{% url 'person_detail' 2379 %}">
                                <area SHAPE="DEFAULT" NOHREF>
                                <!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->
                                </map>
                            {% elif image_id == '2' %}

                                <AREA SHAPE="RECT" COORDS=" 280,  75,  426,  107" HREF="{% url 'person_detail' 142 %}">
                                <AREA SHAPE="RECT" COORDS=" 353,  135,  480,  194"
                                      HREF="{% url 'person_detail' 1899 %}">
                                <AREA SHAPE="RECT" COORDS=" 40,  136,  140,  155" HREF="{% url 'person_detail' 65 %}">
                                <AREA SHAPE="RECT" COORDS=" 77,  189,  227,  211" HREF="{% url 'person_detail' 1225 %}">
                                <AREA SHAPE="RECT" COORDS=" 56,  159,  109,  181"
                                      HREF="{% url 'person_detail' 10503 %}">
                                <AREA SHAPE="RECT" COORDS=" 37,  251,  151,  272" HREF="{% url 'person_detail' 2110 %}">
                                <AREA SHAPE="RECT" COORDS=" 198,  135,  303,  165" HREF="{% url 'person_detail' 64 %}">
                                <AREA SHAPE="RECT" COORDS=" 314,  211,  347,  244" HREF="{% url 'person_detail' 1848">
                                <AREA SHAPE="RECT" COORDS=" 359,  219,  481,  255" HREF="{% url 'person_detail' 841 %}">
                                <AREA SHAPE="RECT" COORDS=" 41,  330,  140,  368" HREF="{% url 'person_detail' 451 %}">
                                <AREA SHAPE="RECT" COORDS=" 151,  326,  208,  360"
                                      HREF="{% url 'person_detail' 7523 %}">
                                <AREA SHAPE="RECT" COORDS=" 271,  325,  382,  386"
                                      HREF="{% url 'person_detail' 1857 %}">
                                <AREA SHAPE="RECT" COORDS=" 395,  327,  447,  360"
                                      HREF="{% url 'person_detail' 4410 %}">
                                <AREA SHAPE="RECT" COORDS=" 660,  331,  720,  382"
                                      HREF="{% url 'person_detail' 16029 %}">
                                <AREA SHAPE="RECT" COORDS=" 670,  419,  793,  457"
                                      HREF="{% url 'person_detail' 2121 %}">
                                <AREA SHAPE="RECT" COORDS=" 353,  441,  454,  499"
                                      HREF="{% url 'person_detail' 1938 %}">
                                <AREA SHAPE="RECT" COORDS=" 432,  524,  530,  577"
                                      HREF="{% url 'person_detail' 6598 %}">
                                <AREA SHAPE="RECT" COORDS=" 551,  526,  661,  561"
                                      HREF="{% url 'person_detail' 5865 %}">
                                <AREA SHAPE="RECT" COORDS=" 203,  482,  324,  527"
                                      HREF="{% url 'person_detail' 1419 %}">
                                <AREA SHAPE="RECT" COORDS=" 189,  554,  310,  599"
                                      HREF="{% url 'person_detail' 9642 %}">
                                <AREA SHAPE="RECT" COORDS=" 200,  446,  277,  477"
                                      HREF="{% url 'person_detail' 1956 %}">
                                <AREA SHAPE="RECT" COORDS=" 42,  446,  99,  477" HREF="{% url 'person_detail' 8887 %}">
                                <AREA SHAPE="RECT" COORDS=" 42,  481,  189,  516" HREF="{% url 'person_detail' 4752 %}">
                                <AREA SHAPE="RECT" COORDS=" 478,  438,  585,  461"
                                      HREF="{% url 'person_detail' 8059 %}">
                                <AREA SHAPE="DEFAULT" NOHREF>
                                <!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->

                            {% elif image_id == '3' %}

                                <AREA SHAPE="RECT" COORDS=" 201,  128,  314,  173"
                                      HREF="{% url 'person_detail' 1587 %}">
                                <AREA SHAPE="RECT" COORDS=" 358,  130,  428,  169" HREF="{% url 'person_detail' 729 %}">
                                <AREA SHAPE="RECT" COORDS=" 160,  290,  229,  329" HREF="{% url 'person_detail' 712 %}">
                                <AREA SHAPE="RECT" COORDS=" 43,  452,  112,  491" HREF="{% url 'person_detail' 1509 %}">
                                <AREA SHAPE="RECT" COORDS=" 523,  63,  592,  102" HREF="{% url 'person_detail' 245 %}">
                                <AREA SHAPE="RECT" COORDS=" 506,  448,  587,  505" HREF="{% url 'person_detail' 58 %}">
                                <AREA SHAPE="RECT" COORDS=" 331,  521,  484,  576" HREF="{% url 'person_detail' 360 %}">
                                <AREA SHAPE="RECT" COORDS=" 626,  173,  744,  211"
                                      HREF="{% url 'person_detail' 1741 %}">
                                <AREA SHAPE="RECT" COORDS=" 242,  355,  389,  399" HREF="{% url 'person_detail' 812 %}">
                                <AREA SHAPE="RECT" COORDS=" 556,  356,  657,  392" HREF="{% url 'person_detail' 779 %}">
                                <AREA SHAPE="RECT" COORDS=" 708,  451,  829,  492"
                                      HREF="{% url 'person_detail' 7807 %}">
                                <AREA SHAPE="RECT" COORDS=" 442,  455,  501,  494"
                                      HREF="{% url 'person_detail' 1855 %}">
                                <AREA SHAPE="RECT" COORDS=" 606,  65,  665,  103" HREF="{% url 'person_detail' 246 %}">
                                <AREA SHAPE="RECT" COORDS=" 434,  131,  519,  172"
                                      HREF="{% url 'person_detail' 1683 %}">
                                <AREA SHAPE="RECT" COORDS=" 121,  453,  239,  491"
                                      HREF="{% url 'person_detail' 2363 %}">
                                <AREA SHAPE="RECT" COORDS=" 243,  531,  309,  571" HREF="{% url 'person_detail' 1402 %}">
                                <AREA SHAPE="RECT" COORDS=" 43,  533,  132,  579" HREF="{% url 'person_detail' 1936 %}">
                                <AREA SHAPE="RECT" COORDS=" 247,  453,  402,  493" HREF="{% url 'person_detail' 8736 %}">
                                <AREA SHAPE="RECT" COORDS=" 639,  454,  700,  492" HREF="{% url 'person_detail' 4457 %}">
                                <AREA SHAPE="RECT" COORDS=" 439,  356,  537,  412"
                                      HREF="{% url 'person_detail' 8585 %}">
                                <AREA SHAPE="RECT" COORDS=" 199,  211,  315,  243"
                                      HREF="{% url 'person_detail' 8571 %}">
                                <AREA SHAPE="RECT" COORDS=" 45,  214,  160,  250" HREF="{% url 'person_detail' 1684 %}">
                                <AREA SHAPE="DEFAULT" NOHREF>
                                <!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->

                            {% elif image_id == '4' %}


                                <AREA SHAPE="RECT" COORDS=" 193,  179,  271,  219"
                                      HREF="{% url 'person_detail' 1456 %}">
                                <AREA SHAPE="RECT" COORDS=" 273,  278,  338,  320" HREF="{% url 'person_detail' 331 %}">
                                <AREA SHAPE="RECT" COORDS=" 153,  405,  229,  451"
                                      HREF="{% url 'person_detail' 1477 %}">
                                <AREA SHAPE="RECT" COORDS=" 274,  403,  307,  436" HREF="{% url 'person_detail' 1510 %}">
                                <AREA SHAPE="RECT" COORDS=" 347,  409,  418,  441" HREF="{% url 'person_detail' 1508 %}">
                                <AREA SHAPE="RECT" COORDS=" 390,  524,  457,  559"
                                      HREF="{% url 'person_detail' 1522 %}">
                                <AREA SHAPE="RECT" COORDS=" 39,  540,  109,  573" HREF="{% url 'person_detail' 454 %}">
                                <AREA SHAPE="RECT" COORDS=" 72,  426,  141,  460" HREF="{% url 'person_detail' 7833 %}">
                                <AREA SHAPE="RECT" COORDS=" 42,  297,  118,  345" HREF="{% url 'person_detail' 337 %}">
                                <AREA SHAPE="RECT" COORDS=" 71,  398,  139,  423" HREF="{% url 'person_detail' 1489%}">
                                <AREA SHAPE="RECT" COORDS=" 269,  523,  342,  556" HREF="{% url 'person_detail' 1513 %}">
                                <AREA SHAPE="DEFAULT" NOHREF>
                                <!--  Image map created with Meracl ImageMap Generator, get it for free at http://come.to/meracl  -->

                            {% endif %}
                        </MAP>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="c c2" id="search">

            {% block search %}

                <h3>Available family trees</h3>
                <form action="search" class="familyTrees">
                    {# <fieldset class="i1"> #}
                    {#   <label for="bs_input">Enter search terms</label> #}
                    {#   <input id="bs_input" type="text" name='query'/> #}
                    {#   <button>Go</button> #}
                    {# </fieldset> #}
                    <fieldset class="i2">

                        <ul>
                            <li {% ifequal image_id "1" %}class="active"{% endifequal %}>
                                <a href="{% url 'familytrees' 1 %}">Scottish royal family</a>
                            </li>
                            <li {% ifequal image_id "2" %}class="active"{% endifequal %}>
                                <a href="{% url 'familytrees' 2 %}">Earl David descendants</a>
                            </li>
                            <li {% ifequal image_id "3" %}class="active"{% endifequal %}>
                                <a href="{% url 'familytrees' 3 %}">English royal family</a>
                            </li>
                            <li {% ifequal image_id "4" %}class="active"{% endifequal %}>
                                <a href="{% url 'familytrees' 4 %}">Manx royal family</a>
                            </li>
                        </ul>
                    </fieldset>
                </form>



            {% endblock %}


        </div>
    </div>

{% endblock %}

