{% extends "pomsapp/search/search_base.html" %}
{% load extrafilters %}



	{% block tabs_titles  %}
    <ul class="nvl">
      <li class="s1"><a href="/search">Search</a></li>
      <li class="i1"><a href="/browse">Browse</a></li>
      <li class="i1"><a href="/record">Record</a></li>
      <li class="i1"><a href="/sna/all/">Social Network Analysis</a></li>

      <li class="i1"><a href="/map/browse/">Map</a></li>
      <li class="i1"><a href="/familytrees">Family Trees</a></li>
      <li class="i1"><a href="/labs">Labs</a></li>
    </ul>		
	{% endblock %}

	{% block small_links %}
    {# <ul class="utl"> #}
      {# <li class="i1"><a href="#"><b>Help</b></a></li> #}
      {# <li class="i2"><a href="#"><b>Register</b></a></li> #}
      {# <li class="ix"><a href="#"><b>Login</b></a></li> #}
    {# </ul>		 #}
	{% endblock %}
	
	
	{% block permalink %}
	{# <ul class="utl m1"> #}
	{#   <li class="i1"><a href="#" title="Permanent URL for this page, which will allow you to save a bookmark"><b>Permalink: {{permalink}}</b></a></li> #}
	{# </ul> #}
	{% endblock %}
	
	
	
	
	{% block contents %}
		
    <div class="cg n2">
      <div class="m">


			<div class="handles searchPages">
				<ul>
	            	<li><a original-title="Hide refine history panel" href="#" id="historyHandle" class="historyPanel tip">Hide</a>
					</li>  
				</ul>
			</div><!-- handles end -->




        <div class="c c1">
          <div class="r2" id="results">
	
			
			{% include "pomsapp/search/snippet_results.html" %}
			

          </div>
        </div>
      </div>

      <div class="c c2" id="search">
	
		{% block search %}	

			
			<h3>Basic Search</h3>


			{% include "pomsapp/search/snippet_searchform.html" %}
  



		{% endblock %}
		

      </div>
    </div>

{% endblock %}
