{% extends "pomsapp/search/search_base.html" %}
{% load extrafilters %}

{% block subnav %}
{% include 'pomsapp/includes/db_navigation.html' %}
{% endblock %}

{% comment %}
{% block small_links %}
{# <ul class="utl"> #}
  {# <li class="i1"><a href="#"><strong>Help</strong></a></li> #}
  {# <li class="i2"><a href="#"><strong>Register</strong></a></li> #}
  {# <li class="ix"><a href="#"><strong>Login</strong></a></li> #}
{# </ul>         #}
{% endblock %}

{% block permalink %}
{# <ul> #}
{#  <li>
        <a href="#" title="Permanent URL for this page, which will allow you to save a bookmark">
            <strong>Permalink: {{permalink}}</strong>
        </a>
    </li> #}
{# </ul> #}
{% endblock %}
{% endcomment %}

{% block contents %}
    {% block sidebar %}
    <div class="facet-sidebar">
        <div id="search">
            {% block search %}
            <h2>Basic Search</h2>
            {% include "pomsapp/search/snippet_searchform.html" %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block main_content %}
    <div class="main">
        <div class="filters">
            <h2>Filters</h2>
            <ul class="no-bullet filters">
                <li>{{ query }} <a href="#"><i class="fas fa-times-circle"></i></a></li>
            </ul>
        </div>
        <div class="handles searchPages">
            {# No idea what this does - Ginestra #}
            <ul>
                <li><a original-title="Hide refine history panel" href="#" id="historyHandle" class="historyPanel tip">Hide</a>
                </li>  
            </ul>
        </div><!-- handles end -->

        <div id="results">
            {% include "pomsapp/search/snippet_results.html" %}
        </div>
    </div>
    {% endblock %}
{% endblock %}
